.input:after {
  display: block;
  clear: both;
  position: relative;
  content: ''
}

body,input {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #efefef;
}

input[type="file"] {
  background-color: transparent;
}

a {
  color: #702082;
  font-weight: bold;
}

a:focus, a:hover {
  color: #702082;
}

ul {
  list-style-type: square;
}

ol ol {
  list-style-type: lower-roman;
}

span.conditional {
  display: none
}

#saving {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border: 2px solid #d4d3df;
  background-image: url("loading_spinner.gif");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 9
}

.conditional-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px
}

pre {
  display: none
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border-color: #e6e6e6;
  outline: none;
  box-shadow: none
}

.form-control:focus {
  box-shadow: 0 0 8px rgba(112,32,130,0.6)
}

.well .form-control {
  border-color: #fff
}

.navbar {
  margin-bottom: 0;
  background: #efefef;
  border-bottom: none
}

.x {
  position: relative;
  height: 100%
}

img.willis {
  width: 220px;
  height: auto;
  margin-right: 25px
}

@media (min-width: 768px) {
  img.willis {
    width: 316px;
  }
}

.navbar {
  padding: 10px 0 0;
}

@media (min-width: 768px) {
  .navbar {
    margin-bottom: 30px;
    border-bottom: 3px solid #000;
  }
}

.navbar .container {
  position: relative
}

.navbar-nav > li > a {
  margin: 0 7px;
  padding: 16px 0 5px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  color: #000!important
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    margin: 0;
    padding: 15px;
    border-bottom: none;
  }

  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a:hover {
    background-color: #ccc;
  }

  .navbar-default .navbar-nav.navbar-right>li>a:focus,
  .navbar-default .navbar-nav.navbar-right>li>a:hover {
    color: #702082!important;
    background-color: transparent;
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
    color: #fff!important;
    background-color: #702082;
  }
}

.navbar-brand {
  height: auto;
  padding: 19px 0 15px 15px
}

@media (min-width: 768px) {
  .navbar-brand {
    padding-top: 15px;
    margin-bottom: 20px;
  }
}

.jumbotron {
  background-color: #fff;
}

.previous-year {
  padding: 5px;
  background: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.6);
  margin-bottom: 10px;
  font-style: italic
}

.previous-year .badge {
  background: #999
}

.previous-year .list-group-item {
  background: none
}

@media (min-width: 768px) {
  .navbar-nav {
    clear: left;
  }
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right {
    clear: none;
  }
}

.navbar-nav.navbar-right .navbar-text {
  margin: 15px;
  color: #8894a4
}

.four table {
  width: 100%;
  margin-bottom: 0
}

.four table th {
  width: 25%
}

.four .input-group {
  width: 100%;
  margin-bottom: 20px
}

.four .input-group input {
  width: 25%
}

.ng-table th.sortable .sort-indicator:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

h5 {
  font-weight: 700
}

tr.ng-table-filters {
  display: none
}

#accordion tr.ng-table-filters {
  display: block
}

#accordion tr.ng-table-filters th {
  border: none!important
}

.lang {
  margin-top: 38px!important;
  cursor: pointer
}

.lang img {
  position: relative;
  margin-right: 5px;
  width: 20px;
  height: 15px;
  top: -1px
}

.lang .caret {
  position: relative;
  top: -1px
}

.lang .dropdown-menu li a {
  cursor: pointer
}

#library tr.ng-table-filters {
  display: table-row
}

.holder {
  margin-top: 0;
  padding-top: 20px;
  top: 0;
  position: relative
}

.holder h4 {
  font-size: 16px;
  margin: 0 0 0;
  padding: 5px 0 5px 10px;
  border-left: 3px solid #bdbccf
}

.holder h4 a:hover {
  color: #8894a4;
  text-decoration: none
}

.holder span.badge {
  margin-right: 5px;
  margin-left: -30px
}

.holder span.badge.no {
  opacity: 0
}

.holder.affix {
  position: fixed!important
}

.holder .pagemenu {
  display: block!important
}

.holder menu.nav {
  display: none;
  margin-top: 0;
  margin-bottom: 5px
}

.holder li.active menu.nav {
  display: block!important
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  border-color: #702082;
}

.select2-container {
  min-width: 100%
}

.select2-container .select2-choice {
  height: 34px;
  padding-left: 12px;
  line-height: 34px;
  background: #fff;
  border-color: #e6e6e6;
  border-radius: 0
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 36px
}

.select2-container .select2-choice .select2-arrow {
  margin-right: 8px;
  background: none;
  border-left: none;
  border-radius: 0
}

.select2-container .select2-choice .select2-arrow b {
  background-position: 0 3px
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 3px
}

.select2-drop {
  border-color: #e6e6e6;
  border-radius: 0
}

.progress-bar {
  -webkit-transition: width 0s;
  transition: width 0s;
  background-color: #ccc;
  border-top: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
  box-shadow: none;
  background-image: url("stripes.png")
}

.progress {
  margin-bottom: 0;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  height: 25px
}

.willis-sidebar .progress {
  margin-bottom: 20px
}

h2.home {
  margin-bottom: 30px
}

h2 .home {
  margin-bottom: 30px
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold
}

h1,h2 {
  font-weight: lighter;
}

h4.section {
  margin-top: 0;
  margin-bottom: 0
}

.qset-heading {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000
}

h5.section {
  padding-top: 20px
}

.del {
  position: relative;
  top: -35px
}

.delegate-popup {
  float: right
}

.delegate-popup .dropdown img {
  display: block
}

.delegate-popup .dropdown img.active {
  display: none
}

.delegate-popup .dropdown:hover img,.delegate-popup .dropdown.open img {
  display: none
}

.delegate-popup .dropdown:hover img.active,.delegate-popup .dropdown.open img.active {
  display: block
}

.delegate-popup .dropdown.open .dd {
  position: relative;
  z-index: 1001
}

.delegate-popup .dropdown-menu {
  margin-top: -24px;
  margin-right: -6px;
  padding: 15px;
  border-color: #e6e6e6;
  border-radius: 0
}

.delegate-popup .btn-warning {
  padding-right: 32px;
  padding-left: 32px;
  border: none
}

.delegate-popup .form-control {
  border-color: #e6e6e6
}

._720kb-tooltip {
  background-color: #702082;
  border-radius: 0
}

._720kb-tooltip-caret:before,._720kb-tooltip-caret:after {
  display: none
}

._720kb-tooltip-caret {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 1px;
  height: 10px;
  margin-left: 0;
  margin-bottom: 0;
  background-color: #702082;
  border: none
}

._720kb-tooltip-bottom ._720kb-tooltip-caret {
  top: auto;
  bottom: 100%
}

._720kb-tooltip-right ._720kb-tooltip-caret,._720kb-tooltip-left ._720kb-tooltip-caret {
  top: 50%;
  right: 100%;
  left: auto;
  width: 10px;
  height: 1px
}

._720kb-tooltip-left ._720kb-tooltip-caret {
  right: auto;
  left: 100%
}

hr {
  border-top-color: #000000;
  border-top-width: 2px
}

.hr-primary {
  border-top-color: #0071bc
}

.hr-warning {
  border-top-color: #ffb81c
}

.hr-success {
  border-top-color: #00c389
}

.hr-info {
  border-top-color: #5bc0de
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small {
  color: inherit;
  font-size: .5em
}

h1 small.pull-right,h2 small.pull-right,h3 small.pull-right,h4 small.pull-right,h5 small.pull-right,h6 small.pull-right,.h1 small.pull-right,.h2 small.pull-right,.h3 small.pull-right,.h4 small.pull-right,.h5 small.pull-right,.h6 small.pull-right,h1 .small.pull-right,h2 .small.pull-right,h3 .small.pull-right,h4 .small.pull-right,h5 .small.pull-right,h6 .small.pull-right,.h1 .small.pull-right,.h2 .small.pull-right,.h3 .small.pull-right,.h4 .small.pull-right,.h5 .small.pull-right,.h6 .small.pull-right {
  padding-top: 1em
}

ul.file-list.attach {
  min-height: 0
}

ul.file-list.attach li {
  padding: 10px 0;
  color: #a94442!important;
  border-bottom: 2px solid #a94442!important
}

ul.file-list.attach li:first-of-type {
  margin-top: 15px
}

.section-header {
  position: relative
}

.section-header h1,.section-header h2,.section-header h3,.section-header h4,.section-header h5,.section-header h6,.section-header .h1,.section-header .h2,.section-header .h3,.section-header .h4,.section-header .h5,.section-header .h6 {
  font-size: 22px;
  font-weight: bold
  margin-top: 20px;
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.section-header small {
  text-transform: none
}

.section-header .step {
  display: block;
  position: absolute;
  top: 50%;
  right: 100%;
  margin: -20px -80px 0 0;
  color: #8894a4;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 40px;
  text-transform: uppercase;
  white-space: nowrap
}

.section-header .step .step-no {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  padding: 7px 4px;
  color: #702082;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  border: 1px solid #702082;
  border-radius: 50%;
  vertical-align: top
}

.section-header .step:after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #702082;
  vertical-align: middle
}

.section-header.has-step-no {
  padding-left: 90px
}

.active-selected {
  background-color: #702082!important;
  color: #fff!important
}

label {
  font-weight: normal
}

.label {
  margin: 0 5px 5px 0
}

.alert {
  border-radius: 0
}

.alert-danger {
  color: #fff;
  background-color: #ff1d23;
  border-color: #ff1d23;
}

.alert-danger .alert-link {
  color: #fff;
  text-decoration: underline;
}

.alert-success {
  color: #fff;
  background-color: #718b2a;
  border-color: #718b2a;
}

.alert-success .alert-link {
  color: #fff;
  text-decoration: underline;
}

.alert-warning {
  color: #fff;
  background-color: #e9af01;
  border-color: #e9af01;
}

.alert-warning .alert-link {
  color: #fff;
  text-decoration: underline;
}

.alert-info {
  color: #fff;
  background-color: #666666;
  border-color: #666666;
}

.alert-info .alert-link {
  color: #fff;
  text-decoration: underline;
}

.navbar-default .navbar-toggle {
  border-color: #702082;
  border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #702082;
}

.panel {
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.panel-heading {
  border-bottom: none;
}

.panel-default > .panel-heading {
  background-color: #d8d7df;
}

.panel h4.panel-heading {
  border-bottom: none;
  padding-bottom: 0
}

.panel h4.panel-heading strong {
  color: #000;
  display: block;
  padding: 30px 0 10px;
  border-bottom: 2px solid #702082
}

.panel .panel-body >*:last-child {
  margin-bottom: 0
}

.panel .panel-body .input {
  border: none
}

.panel .panel-body .input .description {
  padding: 5px 0 5px
}

.panel .panel-body .question .title {
  color: #000
}

.panel .panel-body ul.file-list {
  min-height: 0
}

.panel .panel-body ul.file-list li {
  padding: 10px 0;
  color: #000;
  border-bottom: 2px solid #8894a4
}

.panel .panel-body ul.file-list li:first-of-type {
  margin-top: 15px
}

.panel .panel-body span.add {
  padding: 10px 30px;
  border: 2px solid #8894a4;
  color: #8894a4;
  border-radius: 0;
  display: inline-block;
  font-weight: bold
}

.panel .panel-body span.add:hover {
  background: #8894a4;
  color: #fff
}

.panel .panel-body table.matrix,.panel .panel-body table.normal {
  border-spacing: 0;
  padding-bottom: 15px;
  border-collapse: separate;
  border-bottom: 2px solid #000
}

.panel .panel-body table.matrix th,.panel .panel-body table.normal th {
  border-bottom: 0;
  border-top: 2px solid #702082;
  color: #000;
  font-weight: 400;
  padding-top: 15px
}

.panel .panel-body table.matrix td,.panel .panel-body table.normal td {
  border: none
}

.panel .panel-body table.matrix td.rowhead,.panel .panel-body table.normal td.rowhead {
  color: #000;
  font-weight: 400
}

.raw,.wysiwyg-textarea {
  word-break: break-word
}

.raw a,.wysiwyg-textarea a {
  text-decoration: underline;
  color: #702082;
  font-weight: bold
}

.raw a:hover,.wysiwyg-textarea a:hover {
  color: #c110a0
}

.raw img,.wysiwyg-textarea img {
  width: 70%;
  height: auto
}

.raw ul,.wysiwyg-textarea ul {
  list-style: disc inside none!important
}

.raw ul li,.wysiwyg-textarea ul li {
  display: list-item
}

.raw ol,.wysiwyg-textarea ol {
  list-style: decimal inside none!important
}

.raw ol li,.wysiwyg-textarea ol li {
  display: list-item
}

.label {
  display: inline-block;
  padding: .5em .75em;
  color: #000;
  background-color: transparent;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #702082;
  border-radius: 0
}

.label-primary {
  color: #702082;
  border-color: #702082
}

.label-warning {
  color: #e9af01;
  border-color: #e9af01
}

.label-success {
  color: #718b2a;
  border-color: #718b2a
}

.label-info {
  color: #666666;
  border-color: #666666
}

.label-danger {
  color: #ff1d23;
  border-color: #ff1d23
}

.block-label {
  display: block
}

.well {
  background-color: #f6f6f9;
  border-radius: 0;
  border: none;
  box-shadow: none
}

.form-editor-wrapper .panel {
  border-style: dashed;
  box-shadow: none
}

.form-editor-wrapper .panel-heading {
  padding-top: 15px;
  padding-bottom: 0;
  color: #000;
  background-color: transparent;
  border-bottom: none
}

.form-editor-wrapper .panel-heading hr {
  margin-top: 15px;
  margin-bottom: 0
}

.form-editor-wrapper .label {
  margin-right: 15px
}

.form-editor-wrapper .alert {
  font-size: 13px;
  border-color: transparent
}

.form-editor-wrapper .alert blockquote {
  margin: 0;
  padding: 0;
  font-size: 13px;
  border-left: none
}

.form-editor-wrapper .alert blockquote footer {
  font-size: 13px
}

.form-editor-wrapper .alert-info {
  color: #5bc0de;
  background-color: #cdecf5
}

.form-editor-wrapper .alert-warning {
  background-color: #fee9c6
}

.form-editor-wrapper .well {
  border-top: 1px solid #00c389
}

.list-group {
  margin-bottom: 30px
}

.panel {
  border-radius: 0!important
}

.panel-heading {
  border-radius: 0!important
}

.panel-featured .panel-heading {
  color: #fff;
  background-color: #702082
}

.panel-featured .panel-heading a {
  display: block;
  color: #fff;
  text-decoration: none
}

.panel-footer {
  padding: 15px;
  background-color: transparent
}

.willis-sidebar {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 20px
}

.willis-sidebar .nav > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 0 4px 30px;
  font-size: 13px;
  font-weight: 400
}

.willis-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 40px;
  font-size: 12px
}

.willis-sidebar .nav>.active>a,.willis-sidebar .nav>li>a:hover,.willis-sidebar .nav>li>a:focus {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #428bca
}

.willis-sidebar .nav>.active>a,.willis-sidebar .nav>.active:hover>a,.willis-sidebar .nav>.active:focus>a {
  font-weight: 700
}

.willis-sidebar .nav .nav>.active>a,.willis-sidebar .nav .nav>.active:hover>a,.willis-sidebar .nav .nav>.active:focus>a {
  font-weight: 500
}

.ng-binding table {
  margin-top: 20px
}

.table > tbody > tr > td {
  vertical-align: middle
}

.table > thead > tr > th {
  border-bottom-color: #000000
}

.table {
  border-bottom: 1px solid #dddddd
}

.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td {
  border-top-color: #dddddd
}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
  background-color: transparent;
}

.table > thead > tr > th:first-child,.table > tbody > tr > th:first-child,.table > tfoot > tr > th:first-child,.table > thead > tr > td:first-child,.table > tbody > tr > td:first-child,.table > tfoot > tr > td:first-child {
  padding-left: 0
}

.table > thead > tr > th:last-child,.table > tbody > tr > th:last-child,.table > tfoot > tr > th:last-child,.table > thead > tr > td:last-child,.table > tbody > tr > td:last-child,.table > tfoot > tr > td:last-child {
  padding-right: 0
}

.table > thead > tr > th.highlight,.table > tbody > tr > th.highlight,.table > tfoot > tr > th.highlight,.table > thead > tr > td.highlight,.table > tbody > tr > td.highlight,.table > tfoot > tr > td.highlight {
  background-color: #e6e6e6
}

.table > thead > tr.highlight > th,.table > tbody > tr.highlight > th,.table > tfoot > tr.highlight > th,.table > thead > tr.highlight > td,.table > tbody > tr.highlight > td,.table > tfoot > tr.highlight > td {
  background-color: #e6e6e6
}

.table-bordered > thead > tr > th:first-child,.table-bordered > tbody > tr > th:first-child,.table-bordered > tfoot > tr > th:first-child,.table-bordered > thead > tr > td:first-child,.table-bordered > tbody > tr > td:first-child,.table-bordered > tfoot > tr > td:first-child {
  padding-left: 5px
}

.table-bordered > thead > tr > th:last-child,.table-bordered > tbody > tr > th:last-child,.table-bordered > tfoot > tr > th:last-child,.table-bordered > thead > tr > td:last-child,.table-bordered > tbody > tr > td:last-child,.table-bordered > tfoot > tr > td:last-child {
  padding-right: 5px
}

.predefined-table {
  width: 100%
}

.predefined-table thead th,.predefined-table thead td {
  padding: 0 0 12px
}

.predefined-table tbody th,.predefined-table tbody td {
  padding: 8px 10px;
  font-size: 12px;
  vertical-align: middle;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  cursor: move
}

.predefined-table tbody th.success,.predefined-table tbody td.success {
  background-color: #e9f4e9;
  border-top-color: #00c389
}

.predefined-table tbody th.info,.predefined-table tbody td.info {
  background-color: #e5f1f8;
  border-top-color: #702082
}

.predefined-table tbody th.warning,.predefined-table tbody td.warning {
  background-color: #fff8ec;
  border-top-color: #ffb81c
}

.predefined-table tbody th.danger,.predefined-table tbody td.danger {
  background-color: #f7e8e8;
  border-top-color: #c110a0
}

.predefined-table .btn-round.pull-right {
  margin-left: 4px
}

.predefined-table .btn.btn-primary {
  color: #702082;
  font-weight: bold;
  background-color: #fff;
  border-color: #fff
}

blockquote {
  margin: 20px;
  border-left-color: #aaa;
  color: #702082;
  font-size: 16px;
}

.primary-color {
  color: #702082;
}

.badge {
  background-color: #702082;
  border-radius: 0;
}

.list-group-item > .badge {
  float: left;
  margin-right: 10px
}

.list-group-item > .badge.pull-right {
  margin-right: 0
}

.rank {
  cursor: pointer;
  padding: 10px!important
}

.container.submit .modal-footer {
  margin-top: 0
}

.container.submit .modal-body {
  padding-left: 0;
  padding-right: 0
}

.container .jumbotron,.container-fluid .jumbotron {
  border-radius: 0
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  color: #702082;
  margin: 0 5px 5px 0;
  border: 2px solid #702082;
  outline: 0!important;
  box-shadow: none!important
}

.btn:hover {
  color: #fff;
  background: #702082;
  border-color: #702082
}

.btn-default {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.btn-default:active,.btn-default:focus,.btn-default:hover {
  color: #fff;
  background-color: #555555;
  border-color: #555555
}

.btn-primary {
  color: #fff;
  background: #702082
}

.btn-primary:active,.btn-primary:focus,.btn-primary:hover {
  color: #fff;
  background-color: #53197f;
  border-color: #53197f
}

.btn-danger {
  color: #fff;
  background-color: #ff1d23;
  border-color: #ff1d23
}

.btn-danger:active,.btn-danger:focus,.btn-danger:hover {
  color: #fff;
  background-color: #e6191f;
  border-color: #e6191f
}

.btn-success {
  color: #fff;
  background-color: #718b2a;
  border-color: #718b2a
}

.btn-success:active,.btn-success:focus,.btn-success:hover {
  color: #fff;
  background-color: #647b25;
  border-color: #647b25
}

.btn-warning {
  color: #fff;
  background-color: #e9af01;
  border-color: #e9af01
}

.btn-warning:active,.btn-warning:focus,.btn-warning:hover {
  color: #fff;
  background-color: #d99b01;
  border-color: #d99b01
}

.btn-info {
  color: #fff;
  background-color: #666666;
  border-color: #666666
}

.btn-info:active,.btn-info:focus,.btn-info:hover {
  color: #fff;
  background-color: #555555;
  border-color: #555555
}

.btn-round {
  width: 26px;
  height: 26px;
  padding: 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 23px;
  border-width: 1px;
  border-radius: 50%
}

.btn-round.btn-sm {
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 18px
}

.btn-round-icon {
  font-size: 13px
}

.btn-round-icon .glyphicon {
  margin: 0!important
}

.panel.bottom {
  padding: 15px;
  border-radius: 0!important
}

.keep-open ul {
  min-width: 350px;
  padding: 10px
}

.delegated {
  opacity: .5;
  cursor: not-allowed;
  pointer-events: none
}

.delegates {
  margin-top: 20px
}

.delegates button,.delegates .alert {
  margin-top: 10px
}

img.client-logo {
  max-width: 150px;
  max-height: 150px;
  height: auto;
  margin-top: 10px;
  width: auto;
  float: right
}

.thumbnail {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  border: none;
  padding: 0;
}

.thumbnail a > img,
.thumbnail > img {
  width: 100%;
}

.thumbnail .caption {
  padding: 10px 20px;
}

.remove-delegation {
  color: #b3b3b3;
  cursor: pointer
}

.remove-delegation:hover {
  color: #8894a4
}

.badge-danger {
  background-color: #d43f3a
}

.badge-warning {
  background-color: #f0ad4e
}

.badge-success {
  background-color: #5cb85c
}

.badge-info {
  background-color: #5bc0de
}

.badge-inverse {
  background-color: #333
}

.list-group-item.active,.thumbnail.active {
  background-image: none;
  border-color: #702082;
  color: #fff
}

.list-group-item.active h3,.thumbnail.active h3,.list-group-item.active p,.thumbnail.active p {
  color: #fff
}

.footer {
  margin-top: 100px;
  background: #702082;
  border-bottom: 10px solid #8894a4
}

.footer .navbar-nav > li > a {
  color: #fff!important;
  padding: 5px 0
}

.upsell li {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  clear: both
}

.upsell li:after {
  display: block;
  clear: both;
  content: '';
  position: relative
}

.upsell li img {
  display: block;
  float: left;
  margin: 0 10px 0 0
}

.alert.dashed {
  border: 3px dashed;
  padding: 50px 20px
}

.modal-body {
  max-height: 300px;
  overflow: auto;
  scroll: auto
}

div[pageitems="pageitems"] .panel-default {
  overflow: visible
}

.ng-table th.sortable.sort-desc,.ng-table th.sortable.sort-asc {
  background: none;
  text-shadow: none
}

.ng-table th {
  text-align: left!important
}

.table-bordered > thead > tr > th,.table-bordered > thead > tr > td {
  border-bottom: 0
}

.nestedDemo ul[dnd-list],.nestedDemo ul[dnd-list] > li {
  position: relative
}

.ng-table-pager {
  padding-top: 20px
}

.ng-table-pager .btn-group > .btn {
  margin: 0 0 0 8px;
  padding: 0 0 0 8px;
  color: #808080;
  line-height: 1.2;
  background-color: transparent;
  border: none;
  border-left: 1px solid #808080
}

.ng-table-pager .btn-group > .btn:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none
}

.ng-table-pager .btn-group > .btn.active {
  color: #702082;
  font-weight: bold
}

.ng-table-pager .pagination {
  margin: 0
}

.pagination > li > a {
  margin: 0 0 0 8px;
  padding: 0 0 0 8px;
  color: #808080;
  line-height: 1.2;
  background-color: transparent!important;
  border: none!important;
  border-left: 1px solid #808080!important
}

.pagination > li:first-child > a {
  margin-left: 0;
  padding-left: 0;
  border-left: none!important
}

.pagination > .active > a {
  color: #702082!important;
  font-weight: bold
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #702082;
}

.pager li>a,
.pager li>span {
  border-radius: 0;
}

ul.trash {
  margin-top: 0;
  font-size: 20px
}

ul.trash span {
  color: #fff
}

.holder.tools .badge,.pan-tool .badge {
  margin: 0!important;
  background: #999
}

.holder.tools .btn-block,.pan-tool .btn-block {
  position: relative;
  margin-top: 5px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: #702082;
  font-weight: bold;
  text-align: left;
  cursor: move;
  border: none
}

.holder.tools .btn-block.btn-primary,.pan-tool .btn-block.btn-primary {
  background-color: #0071bc
}

.holder.tools .btn-block.btn-danger,.pan-tool .btn-block.btn-danger {
  background-color: #c110a0
}

.holder.tools .btn-block.btn-warning,.pan-tool .btn-block.btn-warning {
  background-color: #ffb81c
}

.holder.tools .btn-block.btn-info,.pan-tool .btn-block.btn-info {
  background-color: #5bc0de
}

.holder.tools .btn-block.btn-success,.pan-tool .btn-block.btn-success {
  background-color: #00c389
}

.holder.tools .btn-block.btn-comment,.pan-tool .btn-block.btn-comment {
  background-color: #fee9c6
}

.holder.tools .btn-block.btn-para,.pan-tool .btn-block.btn-para {
  background-color: #cdecf5
}

.holder.tools .trash .btn-block,.pan-tool .trash .btn-block {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px
}

.holder.tools .trash .btn-block span,.pan-tool .trash .btn-block span {
  position: relative;
  top: 0;
  left: 0
}

.btn-send-notifications {
  display: block;
  text-transform: none;
  border: none
}

.btn-send-notifications-sent {
  display: block;
  color: #fff;
  text-transform: none;
  background-color: #00c389;
  border: none;
  cursor: default
}

.delegated-item {
  position: relative;
  display: block;
  margin: 0 0 10px
}

.delegated-item > span {
  display: block;
  margin-right: 16px
}

.delegated-item .remove-delegation {
  position: absolute;
  top: 0;
  right: 0
}

.dropzone ul {
  min-height: 70px;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
  margin: 0;
  padding: 0
}

.dropzone li {
  display: block;
  padding: 0
}

.dropzone .dndDragging {
  opacity: .7
}

.dropzone .dndDraggingSource {
  display: none
}

.dropzone .dndPlaceholder {
  background-color: #ddd;
  min-height: 50px;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
  display: block;
  position: relative
}

.dropzone .dndPlaceholder .box {
  border-color: #d6e9c6
}

.dropzone .dndPlaceholder .box > h3 {
  color: #3c763d;
  background-color: #dff0d8;
  background-image: -webkit-linear-gradient(top,#dff0d8 0,#d0e9c6 100%);
  background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
  border-color: #d6e9c6
}

.dropzone .question {
  white-space: normal
}

.dropzone blockquote {
  white-space: normal
}

.dropzone .container-element {
  margin: 10px
}

.overflow {
  overflow: hidden
}

.dropzone .panel,.dropzone .well,.dropzone .input {
  cursor: pointer;
  position: relative
}

.dropzone .title {
  margin-bottom: 20px
}

.dropzone .input {
  padding: 15px 0
}

.dropzone .input .description {
  font-size: 12px;
  font-weight: 400;
  white-space: normal;
  padding-top: 10px
}

.dropzone.opp .qset {
  opacity: 1
}

.dropzone.opp .qset.selected {
  outline: 10000px solid rgba(255,255,255,0.666);
  box-shadow: 0 0 0 2px #004d90;
  opacity: 1!important;
  position: relative;
  z-index: 99
}

.dropzone span.required {
  color: #ff1d23
}

h4.final {
  margin-bottom: 10px
}

.has-error .help-block {
  color: #ff1d23;
  margin-top: 10px
}

.bottom {
  padding-top: 10px;
  border-bottom: 1px solid #ddd
}

.image-radio-button {
  display: table;
  width: 134px;
  height: 134px;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #702082;
  border-radius: 50%;
  cursor: pointer
}

.image-radio-button input {
  display: none
}

.image-radio-button img {
  display: inline
}

.image-radio-button img.active {
  display: none
}

.image-radio-button .content {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle
}

.image-radio-button h1,.image-radio-button h2,.image-radio-button h3,.image-radio-button h4,.image-radio-button h5,.image-radio-button h6,.image-radio-button .h1,.image-radio-button .h2,.image-radio-button .h3,.image-radio-button .h4,.image-radio-button .h5,.image-radio-button .h6 {
  font-size: 15px
}

.image-radio-button:hover {
  background-color: #f6f6f9
}

.image-radio-button.active {
  color: #00c389;
  background-color: #702082
}

.image-radio-button.active img {
  display: none
}

.image-radio-button.active img.active {
  display: inline
}

.steps-table-wrapper {
  overflow-x: auto
}

.steps-table {
  margin: 20px auto!important
}

.steps-table td {
  width: 130px;
  text-align: center;
  vertical-align: top
}

.steps-table td:first-child a:before {
  display: none
}

.steps-table a {
  position: relative;
  display: block;
  width: 130px
}

.steps-table a .icon-btn {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
  border: 2px solid #702082;
  border-radius: 50%
}

.steps-table a .icon-btn .content-container {
  display: table;
  width: 100%;
  height: 100%
}

.steps-table a .icon-btn .content-container input {
  display: none
}

.steps-table a .icon-btn .content-container img {
  display: inline
}

.steps-table a .icon-btn .content-container img.active {
  display: none
}

.steps-table a .icon-btn .content-container .content {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle
}

.steps-table a .icon-btn .content-container h1,.steps-table a .icon-btn .content-container h2,.steps-table a .icon-btn .content-container h3,.steps-table a .icon-btn .content-container h4,.steps-table a .icon-btn .content-container h5,.steps-table a .icon-btn .content-container h6,.steps-table a .icon-btn .content-container .h1,.steps-table a .icon-btn .content-container .h2,.steps-table a .icon-btn .content-container .h3,.steps-table a .icon-btn .content-container .h4,.steps-table a .icon-btn .content-container .h5,.steps-table a .icon-btn .content-container .h6 {
  font-size: 15px
}

.steps-table a:before {
  content: "▸";
  position: absolute;
  top: 21px;
  left: -7px;
  color: #000;
  font-family: "Georgia","Apple Symbols",serif;
  font-size: 36px;
  line-height: 36px
}

.steps-table a:hover {
  text-decoration: none
}

.steps-table a:hover .icon-btn {
  background-color: #f6f6f9
}

.steps-table a.active .icon-btn {
  color: #00c389;
  background-color: #702082
}

.steps-table a.active .icon-btn img {
  display: none
}

.steps-table a.active .icon-btn img.active {
  display: inline
}

.template-overview {
  background: #d4d3df!important;
  text-align: center;
  position: relative
}

.template-overview h4 {
  text-transform: uppercase
}

.template-overview img {
  display: block;
  margin: 0 auto 10px;
  max-width: 80px
}

span.rm {
  color: #702082;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 20px;
  background: #fff;
  border-radius: 100%
}

span.rm:hover {
  color: #c110a0
}

.steps {
  text-align: center
}

.steps:last-of-type span {
  display: none
}

.steps a {
  text-decoration: none;
  color: inherit
}

.steps .well,.steps .alert {
  position: relative;
  min-height: 150px;
  font-size: 12px;
  border: none;
  outline: none;
  background: none;
  font-weight: bold
}

.steps .well span,.steps .alert span {
  position: absolute;
  right: -24px;
  top: calc(50% - 7px)
}

.steps .well.current,.steps .alert.current {
  background: #d9edf7!important;
  border-color: #bce8f1!important
}

.steps .well:hover,.steps .alert:hover {
  opacity: 1;
  background: #fcf8e3;
  cursor: pointer
}

.steps .well img,.steps .alert img {
  width: 25%;
  height: auto;
  display: block;
  margin: 0 auto 10px
}

.tab-pane {
  padding: 15px;
  background-color: #fff;
}

.popover {
  width: 276px;
  padding: 20px;
  font-size: 13px;
  border-radius: 0;
  border-color: #e6e6e6
}

.success .popover {
  background-color: #e9f4e9
}

.info .popover {
  background-color: #e5f1f8
}

.warning .popover {
  background-color: #fff8ec
}

.danger .popover {
  background-color: #f7e8e8
}

.popover.top > .arrow {
  border-top-color: #e6e6e6
}

.success .popover.top > .arrow:after {
  border-top-color: #e9f4e9
}

.info .popover.top > .arrow:after {
  border-top-color: #e5f1f8
}

.warning .popover.top > .arrow:after {
  border-top-color: #fff8ec
}

.danger .popover.top > .arrow:after {
  border-top-color: #f7e8e8
}

.popover.right > .arrow {
  border-right-color: #e6e6e6
}

.success .popover.right > .arrow:after {
  border-right-color: #e9f4e9
}

.info .popover.right > .arrow:after {
  border-right-color: #e5f1f8
}

.warning .popover.right > .arrow:after {
  border-right-color: #fff8ec
}

.danger .popover.right > .arrow:after {
  border-right-color: #f7e8e8
}

.popover.bottom > .arrow {
  border-bottom-color: #e6e6e6
}

.success .popover.bottom > .arrow:after {
  border-bottom-color: #e9f4e9
}

.info .popover.bottom > .arrow:after {
  border-bottom-color: #e5f1f8
}

.warning .popover.bottom > .arrow:after {
  border-bottom-color: #fff8ec
}

.danger .popover.bottom > .arrow:after {
  border-bottom-color: #f7e8e8
}

.popover.left > .arrow {
  border-left-color: #e6e6e6
}

.success .popover.left > .arrow:after {
  border-left-color: #e9f4e9
}

.info .popover.left > .arrow:after {
  border-left-color: #e5f1f8
}

.warning .popover.left > .arrow:after {
  border-left-color: #fff8ec
}

.danger .popover.left > .arrow:after {
  border-left-color: #f7e8e8
}

.popover-title {
  margin: 0 0 10px;
  padding: 0 0 10px;
  font-weight: bold;
  text-transform: none;
  background-color: transparent;
  border-radius: 0
}

.success .popover-title {
  border-bottom-color: #00c389
}

.info .popover-title {
  border-bottom-color: #702082
}

.warning .popover-title {
  border-bottom-color: #ffb81c
}

.danger .popover-title {
  border-bottom-color: #c110a0
}

.popover-content {
  padding: 0
}

table .nest-table.pros {
  display: table;
  width: 100%;
  margin: 10px 0 0;
  padding: 10px;
  border-bottom: none
}

table .nest-table.pros .seventy {
  width: 70px
}

table .nest-table.pros .onefourty {
  width: 140px
}

table .nest-table.pros .nest-thead,table .nest-table.pros .nest-tbody {
  display: table;
  width: 100%
}

table .nest-table.pros .nest-thead .nest-tr,table .nest-table.pros .nest-tbody .nest-tr {
  display: table-row
}

table .nest-table.pros .nest-thead .nest-tr .nest-th,table .nest-table.pros .nest-tbody .nest-tr .nest-th,table .nest-table.pros .nest-thead .nest-tr .nest-td,table .nest-table.pros .nest-tbody .nest-tr .nest-td {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #f6f6f9
}

table .nest-table.pros span {
  margin-right: 10px
}

.products .well {
  border: 1px dashed #000
}

.box.editor {
  position: fixed;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 0;
  width: 30%;
  z-index: 99;
  height: 100%;
  background: #f2f2f2;
  box-shadow: 0 0 10px rgba(0,0,0,0.175);
  border-left: 2px solid #dfdfdf;
  padding: 50px 0 25px 25px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease
}

.box.editor.shown {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}

.box.editor .contain {
  position: relative;
  height: calc(100% - 50px);
  overflow-y: auto;
  padding-right: 25px
}

.box.editor .container {
  position: relative
}

.box.editor .panel {
  background: none
}

.box.editor .panel label {
  display: block
}

.box.editor .panel .optin {
  margin-bottom: 10px
}

.box.editor .panel .input {
  margin-bottom: 20px
}

.box.editor .panel .input:last-of-type {
  margin-bottom: 0
}

.box.editor #edit-close {
  position: absolute;
  right: 25px;
  z-index: 99;
  top: 20px;
  font-size: 18px;
  cursor: pointer;
  color: #999
}

.box.editor #edit-close:hover {
  color: #000
}

.box.editor .head {
  margin-bottom: 15px
}

.pan-tool tr.ng-table-filters {
  display: block
}

.pan-tool tr.ng-table-filters th {
  display: block
}

.add-more {
  position: absolute;
  top: -4px;
  right: -30px
}

.toq {
  display: inline-block;
  position: relative
}

ul.temp-sel {
  padding: 0 20px
}

ul.temp-sel li {
  padding: 10px 50px;
  cursor: move
}

ul.temp-sel li .btn-round-icon {
  position: absolute;
  top: 7px
}

ul.temp-sel li .btn-round-icon.pull-left {
  left: 7px
}

ul.temp-sel li .btn-round-icon.pull-right {
  right: 7px
}

h4.op-sect span {
  border-bottom: 2px solid #702082
}

td.rowhead {
  font-size: 12px;
  font-weight: bold
}

.toolbox div[ng-table-pagination="params"] {
  display: none
}

.toolbox .ng-table-header {
  font-size: 12px;
  font-weight: 400;
  font-style: italic
}

.toolbox ul {
  list-style: none;
  padding-left: 0;
  cursor: move
}

.toolbox .dndDragging {
  opacity: .5
}

.toolbox .dndDraggingSource {
  opacity: 1
}

.trashcan {
  position: absolute;
  bottom: 25px;
  right: 25px;
  left: 25px
}

.trashcan ul {
  list-style: none;
  padding-left: 0
}

.trashcan button {
  width: 100%;
  color: #fff;
  background-color: #c1272d;
  border-color: #c1272d;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.trashcan button:hover {
  background-color: #c1272d;
  border-color: #c1272d
}

.trashcan .dndDragover button {
  background-color: #c110a0;
  border-color: #c110a0
}

.trashcan .dndPlaceholder {
  display: none
}

.white {
  background: #fff
}

.navbar-default {
  position: relative;
  z-index: 33
}

@media all and (max-width:992px) {
  .willis-sidebar {
    display: none
  }
}

.checkbox {
  padding-left: 20px
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;
  transition: border .15s ease-in-out,color .15s ease-in-out
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555
}

.checkbox input[type="checkbox"],.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1
}

.checkbox input[type="checkbox"]:focus + label::before,.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.checkbox input[type="checkbox"]:checked + label::after,.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c"
}

.checkbox input[type="checkbox"]:disabled + label,.checkbox input[type="radio"]:disabled + label {
  opacity: .65
}

.checkbox input[type="checkbox"]:disabled + label::before,.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eee;
  cursor: not-allowed
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%
}

.checkbox.checkbox-inline {
  margin-top: 0
}

.checkbox-primary input[type="checkbox"]:checked + label::before,.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7
}

.checkbox-primary input[type="checkbox"]:checked + label::after,.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff
}

.checkbox-danger input[type="checkbox"]:checked + label::before,.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f
}

.checkbox-danger input[type="checkbox"]:checked + label::after,.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff
}

.checkbox-info input[type="checkbox"]:checked + label::before,.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de
}

.checkbox-info input[type="checkbox"]:checked + label::after,.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff
}

.checkbox-warning input[type="checkbox"]:checked + label::before,.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e
}

.checkbox-warning input[type="checkbox"]:checked + label::after,.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff
}

.checkbox-success input[type="checkbox"]:checked + label::before,.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c
}

.checkbox-success input[type="checkbox"]:checked + label::after,.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff
}

.radio {
  padding-left: 20px
}

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border .15s ease-in-out;
  transition: border .15s ease-in-out
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555;
  -webkit-transform: scale(0,0);
  -ms-transform: scale(0,0);
  transform: scale(0,0);
  -webkit-transition: -webkit-transform .1s cubic-bezier(.8,-.33,.2,1.33);
  transition: transform .1s cubic-bezier(.8,-.33,.2,1.33)
}

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1
}

.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1)
}

.radio input[type="radio"]:disabled + label {
  opacity: .65
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed
}

.radio.radio-inline {
  margin-top: 0
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c
}

input[type="checkbox"].styled:checked + label:after,input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"
}

input[type="checkbox"] .styled:checked + label::before,input[type="radio"] .styled:checked + label::before {
  color: #fff
}

input[type="checkbox"] .styled:checked + label::after,input[type="radio"] .styled:checked + label::after {
  color: #fff
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite,colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite,colors 5.6s ease-in-out infinite
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285f4
  }

  25% {
    stroke: #de3e35
  }

  50% {
    stroke: #f7c223
  }

  75% {
    stroke: #1b9a59
  }

  100% {
    stroke: #4285f4
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187
  }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
  }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg)
  }
}

#spin {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  right: 0;
  bottom: 0;
  z-index: 2
}

#spin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
  }
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285f4
  }

  25% {
    stroke: #de3e35
  }

  50% {
    stroke: #f7c223
  }

  75% {
    stroke: #1b9a59
  }

  100% {
    stroke: #4285f4
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4
  }

  25% {
    stroke: #de3e35
  }

  50% {
    stroke: #f7c223
  }

  75% {
    stroke: #1b9a59
  }

  100% {
    stroke: #4285f4
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187
  }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
  }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg)
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187
  }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
  }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg)
  }
}
