html
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(href='style.css' rel='stylesheet' type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' type='text/css')
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
      div.container
        div.navbar-header
          button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(ng-href='/')
            img.willis(src="willisblue.png")

        div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
          ul.nav.navbar-nav

            li(ng-show='isLoggedIn()', ng-hide='isAdmin()' ng-class='{active: isActive("/")}')
              a(href='#') Home
              
            li(ng-show='isAdmin()', ng-class='{active: isActive("/library")}')
              a(href='#') Library

            li(ng-show='isBroker()', ng-class='{active: isActive("/clients")}')
              a(href='#') Clients
              
        
          ul.nav.navbar-nav.navbar-right
            //- li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
            //- 	a(href='/signup') Sign up

            //- li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
            //-   a(href='/login') Login

            li(ng-show='isLoggedIn()')
              p.navbar-text Hi User

            //- li(ng-show='isLoggedIn() && isUser()', ng-class='{active: isActive("/settings")}')
            //-   a(href='/settings')
            //-     span.glyphicon.glyphicon-cog
                
            //- li(ng-show='isLoggedIn()', ng-class='{active: isActive("/faq")}')
            //-   a(href='/faq') FAQs
              
            

            li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
              a(href='', ng-click='logout()') Logout

    != yield
    
    
