.container
  .jumbotron
    h1 Style Guide
    p General styling for most html elements. Built with Bootstrap.
  h2 General
  .section-header.has-step-no
    h4.ng-binding
      span.step
        | Section 
        span.step-no 01
      | Headings and Text Content
  .row
    .col-lg-6
      #headings.panel.panel-default
        .panel-heading Headings
        .panel-body
          h1.page-header
            | Page Header 
            small With Small Text
          h1 This is an h1 heading
          h2 This is an h2 heading
          h3 This is an h3 heading
          h4 This is an h4 heading
          h5 This is an h5 heading
          h6 This is an h6 heading
      
    .col-lg-6
      #content-formatting.panel.panel-default
        .panel-heading
          | Content Formatting
        .panel-body
          p.lead This is a lead paragraph.
          p
            | This is an 
            b ordinary paragraph
            |  that is 
            i long enough
            |  to wrap to 
            u multiple lines
            |  so that you can see how the line spacing looks.
          p
            small
              | This is text in a 
              code small
              |  wrapper. 
              abbr(title='No Big Deal') NBD
              | , right?
          hr
          address
            strong Twitter, Inc.
            br
            |                 795 Folsom Ave, Suite 600
            br
            |                 San Francisco, CA 94107
            br
            abbr(title='Phone') P:
            |  (123) 456-7890
          address.col-6
            strong Full Name
            br
            a(href='mailto:#') first.last@example.com
          hr
          blockquote
            | Here's what a blockquote looks like in Bootstrap. 
            small
              | Use 
              code small
              |  to identify the source.
          hr
          .row
            .col-xs-6
              ul
                li Normal Unordered List
                li
                  | Can Also Work
                  ul
                    li With Nested Children
                li Adds Bullets to Page
            .col-xs-6
              ol
                li Normal Ordered List
                li
                  | Can Also Work
                  ol
                    li With Nested Children
                li Adds Bullets to Page
          hr
          pre.
            \nfunction preFormatting() {  // looks like this;  var something = somethingElse;  return true;}                
  
  .row
    .col-lg-12
      #buttons.panel.panel-default
        .panel-heading
          | Buttons
        .panel-body
          p
            // Standard gray button with gradient
            button.btn.btn-default(type='button') Default
            // Provides extra visual weight and identifies the primary action in a set of buttons
            button.btn.btn-primary(type='button') Primary
            // Indicates a successful or positive action
            button.btn.btn-success(type='button') Success
            // Contextual button for informational alert messages
            button.btn.btn-info(type='button') Info
            // Indicates caution should be taken with this action
            button.btn.btn-warning(type='button') Warning
            // Indicates a dangerous or potentially negative action
            button.btn.btn-danger(type='button') Danger
  .row
    .col-lg-3
      #dropdowns.panel.panel-default
        .panel-heading
          | Dropdowns
        .panel-body.clearfix
          .dropdown
            // Link or button to toggle dropdown
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu', style='display: block; position: static;')
              li.dropdown-header Dropdown header
              li.disabled
                a(tabindex='-1', href='#') Action
              li
                a(tabindex='-1', href='#') Another action
              li
                a(tabindex='-1', href='#') Something else here
              li.divider
              li
                a(tabindex='-1', href='#') Separated link
    .col-lg-9
      #input-groups.panel.panel-default
        .panel-heading
          | Input Groups
        .panel-body
          .input-group
            span.input-group-btn
              button.btn.btn-default(type='button') Go!
            input.form-control(type='text', placeholder='Username')
          br
          .input-group
            input.form-control.input-large(type='text')
            span.input-group-addon.input-large .00
          br
          .input-group
            span.input-group-addon $
            input.form-control(type='text')
            span.input-group-addon .00
            
  h2 Tables
  .section-header.has-step-no
    h4
      span.step 
        | Section
        span.step-no 02
      | Table Stylings
  .panel.panel-default
    .panel-body
      .well.well-lg
        .table-responsive
          table.table.ng-scope.ng-table(ng-table='sets', show-filter='true')
            // ngInclude: templates.header
            thead.ng-scope(ng-include='templates.header')
              tr.ng-scope
                // ngRepeat: $column in $columns
                th.header.sortable.sort-asc
                  // ngIf: !template
                  .ng-table-header.ng-scope
                    span.ng-binding.sort-indicator Name
                  // end ngIf: !template
                  // ngIf: template
                // end ngRepeat: $column in $columns
                th.header.sortable
                  // ngIf: !template
                  .ng-table-header.ng-scope
                    span.ng-binding.sort-indicator 
                  // end ngIf: !template
                  // ngIf: template
                // end ngRepeat: $column in $columns
                th.header.sortable
                  // ngIf: !template
                  .ng-table-header.ng-scope 
                  // end ngIf: !template
                  // ngIf: template
                // end ngRepeat: $column in $columns
                th.header
                  // ngIf: !template
                  .ng-table-header.ng-scope
                    span.ng-binding.sort-indicator
                  // end ngIf: !template
                  // ngIf: template
                // end ngRepeat: $column in $columns
                 
            tbody
              // ngRepeat: template in $data
              tr.active.ng-scope(ng-repeat='template in $data')
                td(data-title="'Name'", data-sortable="'name'", sortable='', filter="{ 'name': 'text' }", data-title-text='Name')
                  strong.ng-binding Section Name
                  br
                  small
                    strong Version: 
                    | 1.0
                td.ng-binding(width='120', data-title="'Category'", data-sortable="'category'", sortable='', data-title-text='Category')
                td(width='120', data-title="'State'", data-sortable="'state'", sortable='', data-title-text='State')
                  span.label.block-label.ng-binding
                td.text-right(style='white-space:nowrap')
                  span(style='margin-right:10px')
                    a.btn.btn-round.btn-danger.ng-isolate-scope ×
              // end ngRepeat: template in $data
              tr.active.ng-scope(ng-repeat='template in $data')
                td(data-title="'Name'", data-sortable="'name'", sortable='', filter="{ 'name': 'text' }", data-title-text='Name')
                  strong.ng-binding Set Name
                  br
                  small
                    strong Version: 
                    | 1.0
                td.ng-binding(width='120', data-title="'Category'", data-sortable="'category'", sortable='', data-title-text='Category')
                td(width='120', data-title="'State'", data-sortable="'state'", sortable='', data-title-text='State')
                  span.label.block-label.ng-binding
                td.text-right(style='white-space:nowrap')
                  span(style='margin-right:10px')
                    a.btn.btn-round.btn-danger.ng-isolate-scope ×
              // end ngRepeat: template in $data
          .ng-scope.ng-isolate-scope(ng-table-pagination='params', template-url='templates.pagination')
            // ngInclude: templateUrl
            .ng-scope(ng-include='templateUrl')
              // ngIf: params.data.length
              .ng-table-pager.ng-scope(ng-if='params.data.length')
                // ngIf: params.settings().counts.length
                .ng-table-counts.btn-group.pull-right.ng-scope(ng-if='params.settings().counts.length')
                  // ngRepeat: count in params.settings().counts
                  button.btn.btn-default.ng-scope.active
                    span.ng-binding(ng-bind='count') 10
                  // end ngRepeat: count in params.settings().counts
                  button.btn.btn-default.ng-scope
                    span.ng-binding(ng-bind='count') 25
                  // end ngRepeat: count in params.settings().counts
                  button.btn.btn-default.ng-scope
                    span.ng-binding(ng-bind='count') 50
                  // end ngRepeat: count in params.settings().counts
                  button.btn.btn-default.ng-scope
                    span.ng-binding(ng-bind='count') 100
                  // end ngRepeat: count in params.settings().counts
                // end ngIf: params.settings().counts.length
                ul.pagination.ng-table-pagination
                  // ngRepeat: page in pages
              // end ngIf: params.data.length
        a.btn.btn-default(ng-href='library/new/question-set', href='library/new/question-set') + New Question Set

  h2 Forms
  .section-header.has-step-no
    h4.ng-binding
      span.step
        | Section 
        span.step-no 03
      | Form Stylings

  .dropzone
    .panel.panel-default
      .panel-body
        // ngInclude: 'list.html'
        .answer.ng-scope(ng-include="'list.html'")
          ul.ng-scope
            // ngRepeat: part in list
            // ngInclude: part.type + '.html'
            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
              #Section-1-heading.section.qset-heading.ng-scope
                // ngInclude: "app/questionnaires/delegate.html"
                .delegate-popup.ng-scope(ng-include='"app/questionnaires/delegate.html"')
                  .dropdown.pull-right.keep-open.ng-scope
                    .dd.ng-isolate-scope(data-toggle='dropdown', tooltips='tooltips', title='Delegate to Team Members')
                      img(src='icon-delegate.png', width='17', height='17')
                      img.active(src='icon-delegate-active.png', width='17', height='17')
                    ul.dropdown-menu(role='menu', ng-click='$event.stopPropagation()')
                      li
                        label
                          strong Select a team member to delegate
                      // ngRepeat: name in delegates
                      li
                        .form-group
                          label(for='new')
                            strong Or add a new team member
                          input#exampleInputPassword1.form-control(placeholder='Email Address')
                      button.btn.btn-warning(ng-click='addDelegated(part.name, delegates.selected)') Add Delegation
                strong.ng-binding Willis OQ Demo Product
              // ngRepeat: list in part.sections
              // ngInclude: 'list.html'
              .ng-scope(ng-repeat='list in part.sections', ng-include="'list.html'")
                ul.ng-scope
                  // ngRepeat: part in list
                  // ngInclude: part.type + '.html'
                  li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                    .well.ng-scope
                      .question
                        // ngIf: part.name
                        .title.ng-scope(ng-if='part.name')
                          // ngInclude: "app/questionnaires/delegate.html"
                          .delegate-popup.ng-scope(ng-include='"app/questionnaires/delegate.html"')
                            .dropdown.pull-right.keep-open.ng-scope
                              .dd.ng-isolate-scope(data-toggle='dropdown', tooltips='tooltips', title='Delegate to Team Members')
                                img(src='icon-delegate.png', width='17', height='17')
                                img.active(src='icon-delegate-active.png', width='17', height='17')
                              ul.dropdown-menu(role='menu', ng-click='$event.stopPropagation()')
                                li
                                  label
                                    strong Select a team member to delegate
                                // ngRepeat: name in delegates
                                li
                                  .form-group
                                    label(for='new')
                                      strong Or add a new team member
                                    input#exampleInputPassword1.form-control(placeholder='Email Address')
                                button.btn.btn-warning(ng-click='addDelegated(part.name, delegates.selected)') Add Delegation
                          strong.ng-binding Business Information
                        // end ngIf: part.name
                        // ngRepeat: list in part.questions
                        // ngInclude: 'inlist.html'
                        .column.ng-scope(ng-repeat='list in part.questions', ng-include="'inlist.html'")
                          ul.ng-scope
                            // ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              .ng-scope(ng-if='part.input == "Text"')
                                .input
                                  label.ng-binding
                                    | Business Name
                                    // ngIf: part.required
                                    span.required.ng-scope(ng-if='part.required') * (required)
                                    // end ngIf: part.required
                                    // ngIf: part.description
                                  // ngIf: part.previous_value
                                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', placeholder='Business name', ng-model='part.value')
                              // end ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              .ng-scope(ng-if='part.input == "Number"')
                                .input
                                  label.ng-binding
                                    | ABN
                                    // ngIf: part.required
                                    span.required.ng-scope(ng-if='part.required') * (required)
                                    // end ngIf: part.required
                                    // ngIf: part.description
                                  // ngIf: part.previous_value
                                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', placeholder='00-000-000-000', ng-model='part.value')
                              // end ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              .ng-scope(ng-if='part.input == "Paragraph"')
                                .input
                                  label.ng-binding
                                    | Description of Business
                                    // ngIf: part.required
                                    // ngIf: part.description
                                  // ngIf: part.previous_value
                                  textarea.form-control.ng-pristine.ng-untouched.ng-valid(rows='3', placeholder='Business Description', ng-model='part.value')
                              // end ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              .ng-scope(ng-if='part.input == "Yes/No"')
                                .input
                                  label.ng-binding
                                    | Are you a GST registered business?
                                    // ngIf: part.required
                                    // ngIf: part.description
                                    .description.ng-binding.ng-scope(ng-if='part.description') If Yes, what percentage of input tax credit claimed
                                    // end ngIf: part.description
                                  // ngIf: part.previous_value
                                  .radio
                                    input.ng-pristine.ng-untouched.ng-valid(id='Are you a GST registered business? Yes', type='radio', name='Are you a GST registered business?', value='Yes', ng-model='part.value')
                                    label(for='Are you a GST registered business? Yes') Yes
                                  .radio
                                    input.ng-pristine.ng-untouched.ng-valid(id='Are you a GST registered business? No', type='radio', name='Are you a GST registered business?', value='No', ng-model='part.value')
                                    label(for='Are you a GST registered business? No') No
                                  // ngIf: part.value == 'Yes' && part.details
                                  .ng-scope(ng-if="part.value == 'Yes' && part.details")
                                    label Please Provide Details
                                    textarea.form-control.ng-pristine.ng-untouched.ng-valid(rows='5', ng-model='part.detail_response')
                                  // end ngIf: part.value == 'Yes' && part.details
                              // end ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              .alert.alert-info.ng-scope
                                .question.ng-binding
                                  | Please note that if you must be a GST registered business if you're business or enterprise has a GST turnover (gross income minus GST) of $75 000 or more.
                            // end ngRepeat: part in list
                        // end ngRepeat: list in part.questions
                  // end ngRepeat: part in list
                  // ngInclude: part.type + '.html'
                  li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                    .well.ng-scope
                      .question
                        // ngIf: part.name
                        .title.ng-scope(ng-if='part.name')
                          // ngInclude: "app/questionnaires/delegate.html"
                          .delegate-popup.ng-scope(ng-include='"app/questionnaires/delegate.html"')
                            .dropdown.pull-right.keep-open.ng-scope
                              .dd.ng-isolate-scope(data-toggle='dropdown', tooltips='tooltips', title='Delegate to Team Members')
                                img(src='icon-delegate.png', width='17', height='17')
                                img.active(src='icon-delegate-active.png', width='17', height='17')
                              ul.dropdown-menu(role='menu', ng-click='$event.stopPropagation()')
                                li
                                  label
                                    strong Select a team member to delegate
                                // ngRepeat: name in delegates
                                li
                                  .form-group
                                    label(for='new')
                                      strong Or add a new team member
                                    input#exampleInputPassword1.form-control(placeholder='Email Address')
                                button.btn.btn-warning(ng-click='addDelegated(part.name, delegates.selected)') Add Delegation
                          strong.ng-binding Address Information
                        // end ngIf: part.name
                        // ngRepeat: list in part.questions
                        // ngInclude: 'inlist.html'
                        .column.ng-scope(ng-repeat='list in part.questions', ng-include="'inlist.html'")
                          ul.ng-scope
                            // ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              .ng-scope(ng-if='part.input == "Text"')
                                .input
                                  label.ng-binding
                                    | Address Line 1
                                    // ngIf: part.required
                                    // ngIf: part.description
                                  // ngIf: part.previous_value
                                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', placeholder='', ng-model='part.value')
                              // end ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              .ng-scope(ng-if='part.input == "Text"')
                                .input
                                  label.ng-binding
                                    | Address Line 2
                                    // ngIf: part.required
                                    // ngIf: part.description
                                  // ngIf: part.previous_value
                                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', placeholder='', ng-model='part.value')
                              // end ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              .ng-scope(ng-if='part.input == "Text"')
                                .input
                                  label.ng-binding
                                    | Suburb
                                    // ngIf: part.required
                                    // ngIf: part.description
                                  // ngIf: part.previous_value
                                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', placeholder='', ng-model='part.value')
                              // end ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              .ng-scope(ng-if='part.input == "Number"')
                                .input
                                  label.ng-binding
                                    | Postcode
                                    // ngIf: part.required
                                    // ngIf: part.description
                                  // ngIf: part.previous_value
                                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', placeholder='0000', ng-model='part.value')
                              // end ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              .ng-scope(ng-if='part.input == "Text"')
                                .input
                                  label.ng-binding
                                    | Country
                                    // ngIf: part.required
                                    // ngIf: part.description
                                  // ngIf: part.previous_value
                                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', placeholder='', ng-model='part.value')
                              // end ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                        // end ngRepeat: list in part.questions
                  // end ngRepeat: part in list
                  // ngInclude: part.type + '.html'
                  li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                    .well.ng-scope
                      .question
                        // ngIf: part.name
                        .title.ng-scope(ng-if='part.name')
                          // ngInclude: "app/questionnaires/delegate.html"
                          .delegate-popup.ng-scope(ng-include='"app/questionnaires/delegate.html"')
                            .dropdown.pull-right.keep-open.ng-scope
                              .dd.ng-isolate-scope(data-toggle='dropdown', tooltips='tooltips', title='Delegate to Team Members')
                                img(src='icon-delegate.png', width='17', height='17')
                                img.active(src='icon-delegate-active.png', width='17', height='17')
                              ul.dropdown-menu(role='menu', ng-click='$event.stopPropagation()')
                                li
                                  label
                                    strong Select a team member to delegate
                                // ngRepeat: name in delegates
                                li
                                  .form-group
                                    label(for='new')
                                      strong Or add a new team member
                                    input#exampleInputPassword1.form-control(placeholder='Email Address')
                                button.btn.btn-warning(ng-click='addDelegated(part.name, delegates.selected)') Add Delegation
                          strong.ng-binding Motor Fleet
                        // end ngIf: part.name
                        // ngRepeat: list in part.questions
                        // ngInclude: 'inlist.html'
                        .column.ng-scope(ng-repeat='list in part.questions', ng-include="'inlist.html'")
                          ul.ng-scope
                            // ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              .alert.raw.ng-binding.ng-scope(ng-bind-html='part.name | rawHtml')
                                | Please use either the table, or the upload feature to supply us information relating to your motor vehicle fleet.
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              .ng-scope(ng-if='part.input == "Table"')
                                .input(ng-init='checkRows(part)')
                                  label.ng-binding
                                    | Table - Fleet Information
                                    // ngIf: part.required
                                    // ngIf: part.description
                                    .description.ng-binding.ng-scope(ng-if='part.description') Please provide the details of all vehicles within the fleet in the table below.
                                    // end ngIf: part.description
                                    // ngIf: part.limit
                                    .description.ng-binding.ng-scope(ng-if='part.limit')
                                      strong Row Limit: 
                                      | 10
                                    // end ngIf: part.limit
                                  // ngIf: part.previous_rows.length
                                  table.table.table-stripped.table-condensed.normal
                                    thead
                                      tr
                                        // ngRepeat: option in part.options
                                        // ngIf: option.size >= 1
                                        // end ngRepeat: option in part.options
                                        // ngIf: option.size >= 1
                                        // end ngRepeat: option in part.options
                                        // ngIf: option.size >= 1
                                        // end ngRepeat: option in part.options
                                        // ngIf: option.size >= 1
                                        // end ngRepeat: option in part.options
                                        // ngIf: option.size >= 1
                                        // end ngRepeat: option in part.options
                                        // ngRepeat: option in part.options
                                        // ngIf: !option.size
                                        th.ng-binding.ng-scope(ng-repeat='option in part.options', ng-if='!option.size', width='20%') Year
                                        // end ngIf: !option.size
                                        // end ngRepeat: option in part.options
                                        // ngIf: !option.size
                                        th.ng-binding.ng-scope(ng-repeat='option in part.options', ng-if='!option.size', width='20%') Description
                                        // end ngIf: !option.size
                                        // end ngRepeat: option in part.options
                                        // ngIf: !option.size
                                        th.ng-binding.ng-scope(ng-repeat='option in part.options', ng-if='!option.size', width='20%') State
                                        // end ngIf: !option.size
                                        // end ngRepeat: option in part.options
                                        // ngIf: !option.size
                                        th.ng-binding.ng-scope(ng-repeat='option in part.options', ng-if='!option.size', width='20%') Registration
                                        // end ngIf: !option.size
                                        // end ngRepeat: option in part.options
                                        // ngIf: !option.size
                                        th.ng-binding.ng-scope(ng-repeat='option in part.options', ng-if='!option.size', width='20%') Sum Insured
                                        // end ngIf: !option.size
                                        // end ngRepeat: option in part.options
                                    tbody
                                      // ngRepeat: row in part.rows
                                      tr.datarow.ng-scope(ng-repeat='row in part.rows')
                                        // ngRepeat: option in part.options
                                        td.ng-scope(data-column='x1', ng-repeat='option in part.options')
                                          input.form-control.calculatePlease.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                        td.ng-scope(data-column='x2', ng-repeat='option in part.options')
                                          input.form-control.calculatePlease.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                        td.ng-scope(data-column='x3', ng-repeat='option in part.options')
                                          input.form-control.calculatePlease.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                        td.ng-scope(data-column='x4', ng-repeat='option in part.options')
                                          input.form-control.calculatePlease.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                        td.ng-scope(data-column='x5', ng-repeat='option in part.options')
                                          input.form-control.calculatePlease.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                      // end ngRepeat: row in part.rows
                                      tr
                                        // ngRepeat: option in part.options
                                        td.ng-scope(data-total='x1', ng-repeat='option in part.options')
                                          .calculate.ng-hide(ng-show='option.calculation')
                                            strong 
                                            .pull-right.total
                                        // end ngRepeat: option in part.options
                                        td.ng-scope(data-total='x2', ng-repeat='option in part.options')
                                          .calculate.ng-hide(ng-show='option.calculation')
                                            strong 
                                            .pull-right.total
                                        // end ngRepeat: option in part.options
                                        td.ng-scope(data-total='x3', ng-repeat='option in part.options')
                                          .calculate.ng-hide(ng-show='option.calculation')
                                            strong 
                                            .pull-right.total
                                        // end ngRepeat: option in part.options
                                        td.ng-scope(data-total='x4', ng-repeat='option in part.options')
                                          .calculate.ng-hide(ng-show='option.calculation')
                                            strong 
                                            .pull-right.total
                                        // end ngRepeat: option in part.options
                                        td.ng-scope(data-total='x5', ng-repeat='option in part.options')
                                          .calculate.ng-hide(ng-show='option.calculation')
                                            strong Total
                                            .pull-right.total
                                        // end ngRepeat: option in part.options
                                  button.btn.btn-default.pull-right(ng-click='addRow(part)', ng-show='part.rows.length < part.limit && part.limit >= 1') Add Row
                                  span.pull-right   
                                  // ngIf: part.rows.length > 1
                              // end ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              .ng-scope(ng-if='part.input == "Upload Data From CSV"')
                                .input
                                  label.ng-binding
                                    | Upload Fleet Information
                                    // ngIf: part.required
                                    // ngIf: part.description
                                    .description.ng-binding.ng-scope(ng-if='part.description') Please provide the details of all vehicles within the fleet in the table below.
                                    // end ngIf: part.description
                                    input.btn.btn-default(type='file', on-read-file='showContent($fileContent)')
                                    .ng-binding(ng-bind-html='content')
                              // end ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                              .ng-scope(ng-if='part.input == "Matrix"')
                                .input
                                  label.ng-binding
                                    | Driver per state
                                    // ngIf: part.required
                                    // ngIf: part.description
                                    .description.ng-binding.ng-scope(ng-if='part.description')
                                      | Please provide the number of insured drivers per state for the 2014/2015 financial year.
                                    // end ngIf: part.description
                                  // ngIf: part.previous_rows.length
                                  table.matrix.table.table-stripped.table-condensed
                                    thead
                                      tr
                                        th(width='75px')  
                                        // ngRepeat: option in part.options
                                        // ngIf: option.size >= 1
                                        th.ng-binding.ng-scope(ng-repeat='option in part.options', ng-if='option.size >= 1', width='20%') Number of insured drivers
                                        // end ngIf: option.size >= 1
                                        // end ngRepeat: option in part.options
                                        // ngRepeat: option in part.options
                                        // ngIf: !option.size
                                        // end ngRepeat: option in part.options
                                    tbody
                                      // ngRepeat: row in part.rows
                                      tr.ng-scope(ng-repeat='row in part.rows')
                                        td.rowhead.ng-binding Australian Capital Territory
                                        // ngRepeat: option in part.options
                                        td.ng-scope(ng-repeat='option in part.options')
                                          input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                      // end ngRepeat: row in part.rows
                                      tr.ng-scope(ng-repeat='row in part.rows')
                                        td.rowhead.ng-binding New South Wales
                                        // ngRepeat: option in part.options
                                        td.ng-scope(ng-repeat='option in part.options')
                                          input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                      // end ngRepeat: row in part.rows
                                      tr.ng-scope(ng-repeat='row in part.rows')
                                        td.rowhead.ng-binding Northern Territory
                                        // ngRepeat: option in part.options
                                        td.ng-scope(ng-repeat='option in part.options')
                                          input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                      // end ngRepeat: row in part.rows
                                      tr.ng-scope(ng-repeat='row in part.rows')
                                        td.rowhead.ng-binding Queensland
                                        // ngRepeat: option in part.options
                                        td.ng-scope(ng-repeat='option in part.options')
                                          input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                      // end ngRepeat: row in part.rows
                                      tr.ng-scope(ng-repeat='row in part.rows')
                                        td.rowhead.ng-binding South Australia
                                        // ngRepeat: option in part.options
                                        td.ng-scope(ng-repeat='option in part.options')
                                          input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                      // end ngRepeat: row in part.rows
                                      tr.ng-scope(ng-repeat='row in part.rows')
                                        td.rowhead.ng-binding Tasmania
                                        // ngRepeat: option in part.options
                                        td.ng-scope(ng-repeat='option in part.options')
                                          input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                      // end ngRepeat: row in part.rows
                                      tr.ng-scope(ng-repeat='row in part.rows')
                                        td.rowhead.ng-binding Victoria
                                        // ngRepeat: option in part.options
                                        td.ng-scope(ng-repeat='option in part.options')
                                          input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                      // end ngRepeat: row in part.rows
                                      tr.ng-scope(ng-repeat='row in part.rows')
                                        td.rowhead.ng-binding Western Australia
                                        // ngRepeat: option in part.options
                                        td.ng-scope(ng-repeat='option in part.options')
                                          input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='row[$index + 1]')
                                        // end ngRepeat: option in part.options
                                      // end ngRepeat: row in part.rows
                              // end ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              .ng-scope(ng-if='part.input == "Multiple Choice"')
                                .input
                                  label.ng-binding
                                    | Do any of the vehicles carry any of the following hazardous items?
                                    // ngIf: part.required
                                    span.required.ng-scope(ng-if='part.required') * (required)
                                    // end ngIf: part.required
                                    // ngIf: {{part.description}}
                                  // ngIf: part.previous_options
                                  div
                                    // ngRepeat: option in part.options
                                    .checkbox.ng-scope(ng-repeat='option in part.options')
                                      input.ng-pristine.ng-untouched.ng-valid(id='Do any of the vehicles carry any of the following hazardous items? Medical Waste', type='checkbox', name='Do any of the vehicles carry any of the following hazardous items?', value='Medical Waste', ng-model='option.checked')
                                      label.ng-binding(for='Do any of the vehicles carry any of the following hazardous items? Medical Waste') Medical Waste
                                    // end ngRepeat: option in part.options
                                    .checkbox.ng-scope(ng-repeat='option in part.options')
                                      input.ng-pristine.ng-untouched.ng-valid(id='Do any of the vehicles carry any of the following hazardous items? Compressed Gasses', type='checkbox', name='Do any of the vehicles carry any of the following hazardous items?', value='Compressed Gasses', ng-model='option.checked')
                                      label.ng-binding(for='Do any of the vehicles carry any of the following hazardous items? Compressed Gasses') Compressed Gasses
                                    // end ngRepeat: option in part.options
                                    .checkbox.ng-scope(ng-repeat='option in part.options')
                                      input.ng-pristine.ng-untouched.ng-valid(id='Do any of the vehicles carry any of the following hazardous items? Building Supplies', type='checkbox', name='Do any of the vehicles carry any of the following hazardous items?', value='Building Supplies', ng-model='option.checked')
                                      label.ng-binding(for='Do any of the vehicles carry any of the following hazardous items? Building Supplies') Building Supplies
                                    // end ngRepeat: option in part.options
                                    .checkbox.ng-scope(ng-repeat='option in part.options')
                                      input.ng-pristine.ng-untouched.ng-valid(id='Do any of the vehicles carry any of the following hazardous items? Flammable Materials', type='checkbox', name='Do any of the vehicles carry any of the following hazardous items?', value='Flammable Materials', ng-model='option.checked')
                                      label.ng-binding(for='Do any of the vehicles carry any of the following hazardous items? Flammable Materials') Flammable Materials
                                    // end ngRepeat: option in part.options
                              // end ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              .ng-scope(ng-if='part.input == "Upload Files"')
                                .input
                                  label.ng-binding
                                    | Please provide copies of service logs for any vehicles over 5 years old
                                    // ngIf: part.required
                                    // ngIf: part.description
                                  .ng-scope(flow-init="{target: '/upload'}", flow-files-submitted='$flow.upload()', flow-file-success='$file.msg = $message')
                                    span.btn.btn-default(flow-btn='')
                                      | Upload File
                                      input(type='file', multiple='multiple', style='visibility: hidden; position: absolute;')
                                    ul.file-list
                                      // ngRepeat: file in $flow.files
                              // end ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                        // end ngRepeat: list in part.questions
                  // end ngRepeat: part in list
                  // ngInclude: part.type + '.html'
                  li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                    .well.ng-scope
                      .question
                        // ngIf: part.name
                        .title.ng-scope(ng-if='part.name')
                          // ngInclude: "app/questionnaires/delegate.html"
                          .delegate-popup.ng-scope(ng-include='"app/questionnaires/delegate.html"')
                            .dropdown.pull-right.keep-open.ng-scope
                              .dd.ng-isolate-scope(data-toggle='dropdown', tooltips='tooltips', title='Delegate to Team Members')
                                img(src='icon-delegate.png', width='17', height='17')
                                img.active(src='icon-delegate-active.png', width='17', height='17')
                              ul.dropdown-menu(role='menu', ng-click='$event.stopPropagation()')
                                li
                                  label
                                    strong Select a team member to delegate
                                // ngRepeat: name in delegates
                                li
                                  .form-group
                                    label(for='new')
                                      strong Or add a new team member
                                    input#exampleInputPassword1.form-control(placeholder='Email Address')
                                button.btn.btn-warning(ng-click='addDelegated(part.name, delegates.selected)') Add Delegation
                          strong.ng-binding Further Information, Questions and Comments
                        // end ngIf: part.name
                        // ngRepeat: list in part.questions
                        // ngInclude: 'inlist.html'
                        .column.ng-scope(ng-repeat='list in part.questions', ng-include="'inlist.html'")
                          ul.ng-scope
                            // ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              .ng-scope(ng-if='part.input == "Yes/No"')
                                .input
                                  label.ng-binding
                                    | Is there anything else that you would like to advise us to assist with assessing your application
                                    // ngIf: part.required
                                    // ngIf: part.description
                                  // ngIf: part.previous_value
                                  .radio
                                    input.ng-pristine.ng-untouched.ng-valid(id='Is there anything else that you would like to advise us to assist with assessing your application Yes', type='radio', name='Is there anything else that you would like to advise us to assist with assessing your application', value='Yes', ng-model='part.value')
                                    label(for='Is there anything else that you would like to advise us to assist with assessing your application Yes') Yes
                                  .radio
                                    input.ng-pristine.ng-untouched.ng-valid(id='Is there anything else that you would like to advise us to assist with assessing your application No', type='radio', name='Is there anything else that you would like to advise us to assist with assessing your application', value='No', ng-model='part.value')
                                    label(for='Is there anything else that you would like to advise us to assist with assessing your application No') No
                                  // ngIf: part.value == 'Yes' && part.details
                              // end ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                            // ngInclude: part.type + '.html'
                            li.qset.ng-scope(ng-repeat='part in list', ng-include="part.type + '.html'")
                              // TEXT
                              // ngIf: part.input == "Text"
                              // PARAGRAPH
                              // ngIf: part.input == "Paragraph"
                              // NUMBER
                              // ngIf: part.input == "Number"
                              // DROPDOWN
                              // ngIf: part.input == "Dropdown"
                              // RADIO
                              // ngIf: part.input == "Radio Buttons"
                              // MULTIPLE CHOICE
                              // ngIf: part.input == "Multiple Choice"
                              // RANK
                              // ngIf: part.input == "Rank"
                              // YES/NO
                              // ngIf: part.input == "Yes/No"
                              // UPLOAD FILES
                              // ngIf: part.input == "Upload Files"
                              .ng-scope(ng-if='part.input == "Upload Files"')
                                .input
                                  label.ng-binding
                                    | Supporting Documentation
                                    // ngIf: part.required
                                    // ngIf: part.description
                                    .description.ng-binding.ng-scope(ng-if='part.description')
                                      | Please click the button below to upload any filed or supporting documentation that is required to asses your application.
                                    // end ngIf: part.description
                                  .ng-scope(flow-init="{target: '/upload'}", flow-files-submitted='$flow.upload()', flow-file-success='$file.msg = $message')
                                    span.btn.btn-default(flow-btn='')
                                      | Upload File
                                      input(type='file', multiple='multiple', style='visibility: hidden; position: absolute;')
                                    ul.file-list
                                      // ngRepeat: file in $flow.files
                              // end ngIf: part.input == "Upload Files"
                              // UPLOAD CSV
                              // ngIf: part.input == "Upload Data From CSV"
                              // TABLE
                              // ngIf: part.input == "Table"
                              // MATRIX
                              // ngIf: part.input == "Matrix"
                            // end ngRepeat: part in list
                        // end ngRepeat: list in part.questions
                  // end ngRepeat: part in list
              // end ngRepeat: list in part.sections
            // end ngRepeat: part in list

  .row
    .col-lg-6
      #pagination.panel.panel-default
        .panel-heading
          | Pagination
        .panel-body
          ul.pagination(style='margin-right: 10px;')
            li
              a(href='#') Prev
            li
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') Next
          ul.pagination.pagination-lg
            li
              a(href='#') Prev
            li
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') Next
          ul.pager
            li
              a(href='#') Prev
            li
              a(href='#') Next
      #labels.panel.panel-default
        .panel-heading
          | Labels and Badges
        .panel-body
          h3
            span.label.label-default Default
            span.label.label-success Success
            span.label.label-warning Warning
            span.label.label-danger Danger
            span.label.label-info Info
          p.lead
            a(href='#')
              | Inbox 
              span.badge 42
    .col-lg-6
      #alerts.panel.panel-default
        .panel-heading
          | Alerts
        .panel-body
          div
            .alert.alert-danger
              button.close(type='button', data-dismiss='alert') ×
              strong Oh snap! 
              a.alert-link(href='#') Change a few things up
              |  and try submitting again.
            .alert.alert-success
              button.close(type='button', data-dismiss='alert') ×
              strong Well done! 
              |  You successfully read 
              a.alert-link(href='#') this important alert message
              | .
            .alert.alert-warning
              button.close(type='button', data-dismiss='alert') ×
              strong Heads up! 
              |  This 
              a.alert-link(href='#') alert needs your attention
              | , but it's not super important.
            .alert.alert-info
              button.close(type='button', data-dismiss='alert') ×
              strong Heads up! 
              |  This 
              a.alert-link(href='#') alert needs your attention
              | , but it's not super important.
  .row
    .col-lg-12
      #progress.panel.panel-default
        .panel-heading
          | Progress Bars
        .panel-body
          .progress
            .progress-bar.progress-bar-info(style='width: 33%')
          .progress
            .progress-bar.progress-bar-warning(style='width: 66%')
          .progress
            .progress-bar.progress-bar-danger(style='width: 100%')

  
  .row
    .col-lg-3
      #panels.panel.panel-primary
        .panel-heading
          | This is a header
        p.panel-body This is a panel
        .panel-footer
          | This is a footer
    .col-lg-3
      .panel.panel-success
        .panel-heading
          | This is a header
        .panel-body This is a panel
        .panel-footer
          | This is a footer
    .col-lg-3
      .panel.panel-danger
        .panel-heading
          | This is a header
        .panel-body This is a panel
        .panel-footer
          | This is a footer
    .col-lg-3
      .panel.panel-warning
        .panel-heading
          | This is a header
        .panel-body This is a panel
        .panel-footer
          | This is a footer
  .row
    .col-lg-3
      .panel.panel-info
        .panel-heading
          | This is a header
        p.panel-body This is a panel
        .panel-footer
          | This is a footer
    .col-lg-3
      .panel.panel-default
        .panel-heading
          | This is a header
        .panel-body This is a panel
        ul.list-group.list-group-flush
          li.list-group-item First Item
          li.list-group-item Second Item
          li.list-group-item Third Item
        .panel-footer
          | This is a footer
    .col-lg-3
      #wells.well
        | Default Well
      .well.well-small
        | Small Well
    .col-lg-3
      .well.well-large
        | Large Padding Well
  hr
  .container
    .row
      .col-lg-4
        h2 Heading
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-primary(href='#') View details »
      .col-lg-4
        h2 Heading
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-primary(href='#') View details »
      .col-lg-4
        h2 Heading
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
        p
          a.btn.btn-primary(href='#') View details »
  hr
  .row
    .col-lg-4
      .thumbnail
        img(data-src='http://placehold.it/300x200', alt='300x200', src='http://placehold.it/300x200', style='width: 300px; height: 200px;')
        .caption
          h3 Thumbnail label
          p
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p
            a.btn.btn-primary(href='#') Button
            a.btn.btn-default(href='#') Button
    .col-lg-4
      .thumbnail
        img(data-src='http://placehold.it/300x200', alt='300x200', src='http://placehold.it/300x200', style='width: 300px; height: 200px;')
        .caption
          h3 Thumbnail label
          p
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p
            a.btn.btn-primary(href='#') Button
            a.btn.btn-default(href='#') Button
    .col-lg-4
      .thumbnail
        img(data-src='http://placehold.it/300x200', alt='300x200', src='http://placehold.it/300x200', style='width: 300px; height: 200px;')
        .caption
          h3 Thumbnail label
          p
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p
            a.btn.btn-primary(href='#') Button
            a.btn.btn-default(href='#') Button
  hr
  ul#myTab.nav.nav-tabs
    li
      a(href='#home', data-toggle='tab') Home
    li.active
      a(href='#profile', data-toggle='tab') Profile
    li.dropdown
      a#myTabDrop1.dropdown-toggle(href='#', data-toggle='dropdown')
        | Dropdown 
        b.caret
      ul.dropdown-menu(role='menu', aria-labelledby='myTabDrop1')
        li
          a(href='#dropdown1', tabindex='-1', data-toggle='tab') @fat
        li
          a(href='#dropdown2', tabindex='-1', data-toggle='tab') @mdo
  #myTabContent.tab-content
    #home.tab-pane.fade
      p
        | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
    #profile.tab-pane.fade.active.in
      p
        | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
    #dropdown1.tab-pane.fade
      p
        | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
    #dropdown2.tab-pane.fade
      p
        | Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.
  hr
  #accordion.panel-group
    .panel
      .panel-heading
        h4.panel-title
          a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
            | Collapsible Group Item #1
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .panel
      .panel-heading
        h4.panel-title
          a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
            | Collapsible Group Item #2
      #collapseTwo.panel-collapse.collapse
        .panel-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .panel
      .panel-heading
        h4.panel-title
          a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
            | Collapsible Group Item #3
      #collapseThree.panel-collapse.collapse
        .panel-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  hr
  #carousel-example-captions.carousel.slide.bs-docs-carousel-example
    ol.carousel-indicators
      li.active(data-target='#carousel-example-captions', data-slide-to='0')
      li(data-target='#carousel-example-captions', data-slide-to='1')
      li(data-target='#carousel-example-captions', data-slide-to='2')
    .carousel-inner
      .item.active
        img(data-src='http://placehold.it/1140x570', src='http://placehold.it/1140x570', alt='First slide image')
        .carousel-caption
          h3 First slide label
          p Nulla vitae elit libero, a pharetra augue mollis interdum.
      .item
        img(data-src='http://placehold.it/1140x570', src='http://placehold.it/1140x570', alt='Second slide image')
        .carousel-caption
          h3 Second slide label
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .item
        img(data-src='http://placehold.it/1140x570', src='http://placehold.it/1140x570', alt='Third slide image')
        .carousel-caption
          h3 Third slide label
          p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
    a.left.carousel-control(href='#carousel-example-captions', data-slide='prev')
      span.icon-prev
    a.right.carousel-control(href='#carousel-example-captions', data-slide='next')
      span.icon-next
  hr
  // Button trigger modal
  a.btn.btn-primary.btn-lg(data-toggle='modal', href='#myModal') Launch demo modal
  // Modal
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Modal title
        .modal-body
          p Test
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
      // /.modal-content
    // /.modal-dialog
  // /.modal
// // container
