@font-face {
  font-family: 'street';
  src: url('fonts/Streetvertising_Light_public.eot');
  src: local('☺'), url('fonts/Streetvertising_Light_public.woff') format('woff'), url('fonts/Streetvertising_Light_public.ttf') format('truetype'), url('fonts/Streetvertising_Light_public.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$red = #ee4036
$blue = #262261
$green = #39b54a

$willisblue = #8894a4

.input:after
  display block
  clear both
  position relative
  content ''

body, input
  color $blue
  font-family 'Open Sans'

a
  color $blue

span.conditional
  display none

#saving
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  background-color #ffffff
  border 2px solid #d4d3df
  background-image url(loading_spinner.gif)
  background-repeat no-repeat
  background-position center center
  z-index 9


.conditional-select
  appearance none
  padding 10px

pre
  display none

.form-control
  appearance none
  border-radius 0
  border-color #e6e6e6
  outline none
  box-shadow none
  &:focus
    box-shadow 0 0 8px rgba($blue, .6)

.well
  .form-control
    border-color #fff

.navbar
  border-top 10px solid $willisblue
  background #F2F2F2
  border-bottom none

.x
  position relative
  height 100%

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-nav > li > a:hover
  background-color transparent
  border-bottom 2px solid $willisblue

img.willis
  width 110px
  height auto
  margin-right 10px
.navbar
  padding 10px 0
  .container
    position relative

.navbar-nav > li > a
  margin 0 7px
  padding 45px 0 5px
  font-family 'street'
  font-weight bold
  text-transform uppercase
  border-bottom 2px solid transparent
  font-size 15px
  color $blue !important
.navbar-text
  font-family 'street'

.navbar-brand
  height auto
  padding 15px 0 15px 15px

.previous-year
  padding 5px
  background rgba(0,0,0,.05)
  color rgba(0,0,0,.6)
  margin-bottom 10px
  font-style italic
  .badge
    background #999999
  .list-group-item
    background none

.navbar-nav.navbar-right
  border-bottom 2px solid white
  position absolute
  right 0
  margin-right 15px
  .navbar-text
    margin 0 10px 0 0
    color $willisblue
  > li > a
    padding-top 0

.four
  table
    width 100%
    margin-bottom 0
    th
      width 25%
  .input-group
    width 100%
    margin-bottom 20px
    input
      width 25%

.ng-table th.sortable .sort-indicator:before
  transform rotate(180deg)

h5
  font-weight: 700;

tr.ng-table-filters
  display none

#accordion
  tr.ng-table-filters
    display block
    th
      border none !important

.lang
  margin-top 38px !important
  font-family 'Open Sans Condensed'
  cursor pointer
  .btn
    font-family 'Open Sans Condensed'
  img
    position relative
    margin-right 5px
    width 20px
    height 15px
    top -1px
  .caret
    position relative
    top -1px

  .dropdown-menu
    li
      a
        cursor pointer

#library
  tr.ng-table-filters
    display table-row

.holder
  margin-top 0
  padding-top 20px
  top 0
  position relative
  h4
    font-family 'Open Sans'
    font-size 16px
    margin 0px 0 0px
    padding 5px 0 5px 10px
    border-left 3px solid #BDBCCF
    a:hover
      color $willisblue
      text-decoration none

  span.badge
    margin-right 5px
    margin-left -30px
    &.no
      opacity 0
  &.affix
    position fixed !important

  .pagemenu
    display block !important
  menu.nav
    display none
    margin-top 0
    margin-bottom 5px
  li.active
    menu.nav
      display block !important

.select2-container
  min-width 100%
  .select2-choice
    height 34px
    padding-left 12px
    line-height 34px
    background #fff
    border-color #e6e6e6
    border-radius 0
    > .select2-chosen
      margin-right 36px
    .select2-arrow
      margin-right 8px
      background none
      border-left none
      border-radius 0
      b
        background-position 0 3px

.select2-dropdown-open
  .select2-choice
    .select2-arrow
      b
        background-position -18px 3px

.select2-drop
  border-color #e6e6e6
  border-radius 0

.progress-bar
  transition width 0s
  background-color $willisblue
  border-top 5px solid $willisblue
  border-bottom 5px solid $willisblue
  box-shadow none
  background-image url('stripes.png')

.progress
  margin-bottom 0
  border-radius 0
  background #FEF0EF
  box-shadow none
  height 25px

.willis-sidebar
  .progress
    margin-bottom 20px

h2.home
  margin-bottom 30px


h2
  color $willisblue
  font-weight 100
  .home
    margin-bottom 30px

h1, h2, h3, h4, h5, h6
  color $blue
  font-family 'street'
  text-transform uppercase


h4.section
  margin-top 0
  margin-bottom 0

.qset-heading
  position relative
  padding-top 10px
  padding-bottom 10px
  border-bottom 2px solid $blue

h5.section
  padding-top 20px

.del
  position relative
  top -35px

.delegate-popup
  float right
  .dropdown
    img
      display block
      &.active
        display none
    &:hover,
    &.open
      img
        display none
        &.active
          display block
    &.open
      .dd
        position relative
        z-index 1001
  .dropdown-menu
    margin-top -24px
    margin-right -6px
    padding 15px
    border-color #e6e6e6
    border-radius 0
  .btn-warning
    padding-right 32px
    padding-left 32px
    border none
  .form-control
    border-color #e6e6e6

._720kb-tooltip
  background-color $blue
  border-radius 0

._720kb-tooltip-caret:before,
._720kb-tooltip-caret:after
  display none

._720kb-tooltip-caret
  position absolute
  top 100%
  left 50%
  width 1px
  height 10px
  margin-left: 0;
  margin-bottom: 0;
  background-color $blue
  border none

._720kb-tooltip-bottom
  ._720kb-tooltip-caret
    top auto
    bottom 100%

._720kb-tooltip-right,
._720kb-tooltip-left
  ._720kb-tooltip-caret
    top 50%
    right 100%
    left auto
    width 10px
    height 1px

._720kb-tooltip-left
  ._720kb-tooltip-caret
    right auto
    left 100%

hr
  border-top-color $blue
  border-top-width 2px

.hr-primary
  border-top-color #0071bc

.hr-warning
  border-top-color #fdb643

.hr-success
  border-top-color #39b54a

.hr-info
  border-top-color #5bc0de

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  small, .small
    color inherit
    font-size .5em
    &.pull-right
      padding-top 1em

ul.file-list.attach
  min-height 0
  li
    padding 10px 0
    color #a94442 !important
    border-bottom 2px solid #a94442 !important
    &:first-of-type
      margin-top 15px


.section-header
  position relative
  font-family 'street'
  text-transform uppercase
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
    font-size 22px
    margin-top 20px
    margin-bottom 20px
  small
    font-family 'Open Sans'
    text-transform none
  .step
    display block
    position absolute
    top 50%
    right 100%
    margin -20px -80px 0 0
    color $willisblue
    font-family 'Open Sans'
    font-size 8px
    font-weight bold
    letter-spacing 2px
    line-height 40px
    white-space nowrap
    .step-no
      display inline-block
      width 40px
      height 40px
      margin-left 6px
      padding 7px 4px
      color $blue
      font-family 'street'
      font-size 22px
      font-weight normal
      letter-spacing 0
      line-height 24px
      text-align center
      border 1px solid $blue
      border-radius 50%
      vertical-align top
    &:after
      content ""
      display inline-block
      width 50px
      height 1px
      background-color $blue
      vertical-align middle
  &.has-step-no
    padding-left 90px

.active-selected
  background-color $blue !important
  color white !important

label
  font-weight normal
.label
  margin 0 5px 5px 0

.alert
  border-radius 0
.panel
  border-radius 0
  border-color #E6E6E6

  h4.panel-heading
    border-bottom none
    padding-bottom 0
    strong
      color $blue
      display block
      padding 30px 0 10px
      border-bottom 2px solid $blue
  .panel-body
    >*:last-child
      margin-bottom 0
    .input
      border none
      .description
        padding 5px 0 5px
    .question
      .title
        color $blue

    ul.file-list
      min-height 0
      li
        padding 10px 0
        color $blue
        border-bottom 2px solid $willisblue
        &:first-of-type
          margin-top 15px

    span.add
      padding 10px 30px
      border 2px solid $willisblue
      color $willisblue
      border-radius 0
      display inline-block
      font-weight bold
      &:hover
        background $willisblue
        color white
    table.matrix, table.normal
      border-spacing 0px
      padding-bottom 15px
      border-collapse separate
      border-bottom 2px solid $blue
      th
        border-bottom 0
        border-top 2px solid $blue
        color $blue
        font-weight 400
        padding-top 15px
      td
        border none
        &.rowhead
          color $blue
          font-weight 400

  // .alert.alert-info
  //   border-radius none !important
  //   border none !important
  //   background-color #FEF0EF
  //   font-weight 100
  //   color $red

.raw, .wysiwyg-textarea
  a
    text-decoration underline
    color $blue
    font-weight bold
    &:hover
      color $red
  img
    width 70%
    height auto
  word-break break-word
  ul
    list-style disc inside none !important
    li
      display list-item
  ol
    list-style decimal inside none !important
    li
      display list-item

.label
  display inline-block
  padding .5em .75em
  color $blue
  background-color transparent
  font-size 13px
  text-transform uppercase
  border 1px solid $blue
  border-radius 0

.label-primary
  color #0071bc
  border-color #0071bc

.label-warning
  color #fdb643
  border-color #fdb643

.label-success
  color #39b54a
  border-color #39b54a

.label-info
  color #5bc0de
  border-color #5bc0de

.label-danger
  color $red
  border-color $red

.block-label
  display block

.well
  background-color #f6f6f9
  border-radius 0
  border none
  box-shadow none

.form-editor-wrapper
  .panel
    border-style dashed
    box-shadow none
  .panel-heading
    padding-top 15px
    padding-bottom 0
    color $blue
    background-color transparent
    border-bottom none
    hr
      margin-top 15px
      margin-bottom 0
  .label
    margin-right 15px
  .alert
    font-size 13px
    border-color transparent
    blockquote
      margin 0
      padding 0
      font-size 13px
      border-left none
      footer
        font-size 13px
  .alert-info
    color #5bc0de
    background-color #cdecf5
  .alert-warning
    background-color #fee9c6
  .well
    border-top 1px solid #39b54a

.list-group
  margin-bottom 30px

.panel
  border-radius 0 !important

.panel-heading
  border-radius 0 !important

.panel-featured
  .panel-heading
    color #fff
    background-color $blue
    a
      display block
      color #fff
      text-decoration none

.panel-footer
  padding 15px
  background-color transparent

.willis-sidebar
  padding-left 0px
  margin-top 0px
  margin-bottom 20px
  .nav
    & > li
      & > a
        color #999
        border-left 2px solid transparent
        padding 4px 0px 4px 30px
        font-size 13px
        font-weight 400
    .nav
      & > li
        & > a
          padding-top 1px
          padding-bottom 1px
          padding-left 40px
          font-size 12px



.willis-sidebar .nav>.active>a,
.willis-sidebar .nav>li>a:hover,
.willis-sidebar .nav>li>a:focus
  color black
  text-decoration none
  background-color transparent
  border-left-color #428bca

.willis-sidebar .nav>.active>a,
.willis-sidebar .nav>.active:hover>a,
.willis-sidebar .nav>.active:focus>a
  font-weight 700

.willis-sidebar .nav .nav>.active>a,
.willis-sidebar .nav .nav>.active:hover>a,
.willis-sidebar .nav .nav>.active:focus>a
  font-weight 500

.ng-binding
  table
    margin-top 20px


.table > tbody > tr > td
  vertical-align middle

.table > thead > tr > th
  border-bottom-color $blue

.table
  border-bottom 1px solid $blue
  > thead,
  > tbody,
  > tfoot
    > tr
      > th,
      > td
        border-top-color $blue
        &:first-child
          padding-left 0
        &:last-child
          padding-right 0
        &.highlight
          background-color #e6e6e6
      &.highlight
        > th,
        > td
          background-color #e6e6e6

.table-bordered
  > thead,
  > tbody,
  > tfoot
    > tr
      > th,
      > td
        &:first-child
          padding-left 5px
        &:last-child
          padding-right 5px

.predefined-table
  width 100%
  thead
    th,
    td
      padding 0 0 12px
  tbody
    th,
    td
      padding 8px 10px
      font-size 12px
      vertical-align middle
      border 1px solid #e6e6e6
      border-bottom none
      cursor move
      &.success
        background-color #e9f4e9
        border-top-color $green
      &.info
        background-color #e5f1f8
        border-top-color $blue
      &.warning
        background-color #fff8ec
        border-top-color #fdb643
      &.danger
        background-color #f7e8e8
        border-top-color $red
  .btn-round.pull-right
    margin-left 4px
  .btn.btn-primary
    color $blue
    font-weight bold
    background-color #fff
    border-color #fff

blockquote
  margin 20px
  border-left-color #aaaaaa
  color #444444

.badge
  background-color $blue

.list-group-item > .badge
  float left
  margin-right 10px
  &.pull-right
    margin-right 0

.rank
  cursor pointer
  padding 10px !important

.container.submit
  .modal-footer
    margin-top 0
  .modal-body
    padding-left 0
    padding-right 0

.container .jumbotron, .container-fluid .jumbotron
  border-radius 0

.btn
  border-radius 0
  font-family 'street'
  text-transform uppercase
  color $blue
  margin 0 5px 5px 0
  border 2px solid $blue
  outline 0 !important
  box-shadow none !important
  &:hover
    color white
    background $blue
    border-color $blue
  &.btn-primary
    color white
    background $blue

.btn-danger
  color $red
  background-color transparent
  border-color $red
  &:active,
  &:focus,
  &:hover
    color #fff
    background-color $red
    border-color $red

.btn-success
  color $green
  background-color transparent
  border-color $green
  &:active,
  &:focus,
  &:hover
    color #fff
    background-color $green
    border-color $green

.btn-warning
  color #fdb643
  background-color transparent
  border-color #fdb643
  &:active,
  &:focus,
  &:hover
    color #fff
    background-color #fdb643
    border-color #fdb643

.btn-info
  color $blue
  background-color transparent
  border-color $blue
  &:active,
  &:focus,
  &:hover
    color #fff
    background-color $blue
    border-color $blue

.btn-round
  width 26px
  height 26px
  padding 0
  font-family 'Open Sans'
  font-size 24px
  font-weight 100
  line-height 24px
  border-width 1px
  border-radius 50%
  &.btn-sm
    width 20px
    height 20px
    font-size 14px
    line-height 18px

.btn-round-icon
  font-size 13px
  .glyphicon
    margin 0 !important

.panel.bottom
  padding 15px
  border-radius 0 !important

.keep-open
  ul
    min-width 350px
    padding 10px

.delegated
  opacity .5
  cursor not-allowed
  pointer-events none

.delegates
  margin-top 20px
  button, .alert
    margin-top 10px

img.client-logo
  max-width 150px
  max-height 150px
  height auto
  margin-top 10px
  width auto
  float right

.thumbnail
  user-select none


.remove-delegation
  color #b3b3b3
  cursor pointer
  &:hover
    color $willisblue


.badge-danger {
  background-color: #d43f3a;
}

.badge-warning {
  background-color: #f0ad4e;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-info {
  background-color: #5bc0de;
}

.badge-inverse {
  background-color: #333333;
}

.list-group-item.active, .thumbnail.active {
  background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
  background-repeat: repeat-x;
  border-color: #2b669a;
  color white
  h3, p {
    color:white;
  }
}

.footer
  margin-top 100px
  background $blue
  border-bottom 10px solid $willisblue
  .navbar-nav > li > a
    color white !important
    padding 5px 0

.upsell
  li
    cursor pointer
    user-select none
    clear both
    &:after
      display block
      clear both
      content ''
      position relative
    img
      display block
      float left
      margin 0 10px 0 0

.alert.dashed
  border 3px dashed
  padding 50px 20px

.modal-body
  max-height 300px
  overflow scroll
  scroll auto

div[pageitems="pageitems"]
  .panel-default
    overflow visible

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc
  background none
  text-shadow none

.ng-table th
  text-align left !important

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td
  border-bottom 0

.nestedDemo ul[dnd-list],
.nestedDemo ul[dnd-list] > li
  position relative

.ng-table-pager
  padding-top 20px
  .btn-group
    > .btn
      margin 0 0 0 8px
      padding 0 0 0 8px
      color #808080
      font-family 'Open Sans'
      line-height 1.2
      background-color transparent
      border none
      border-left 1px solid #808080
      &:first-child
        margin-left 0
        padding-left 0
        border-left none
      &.active
        color $blue
        font-weight bold
  .pagination
    margin 0

.pagination
  > li
    > a
      margin 0 0 0 8px
      padding 0 0 0 8px
      color #808080
      line-height 1.2
      background-color transparent !important
      border none !important
      border-left 1px solid #808080 !important
    &:first-child
      > a
        margin-left 0
        padding-left 0
        border-left none !important
  > .active
    > a
      color $blue !important
      font-weight bold

ul.trash
  margin-top 0px
  font-size 20px
  span
    color white

.holder.tools, .pan-tool
  .badge
    margin 0 !important
    background #999999
  .btn-block
    position relative
    margin-top 5px
    padding-top 9px
    padding-bottom 9px
    color $blue
    font-family 'Open Sans'
    font-weight bold
    text-align left
    cursor move
    border none
    &.btn-primary
      background-color #0071bc
    &.btn-danger
      background-color $red
    &.btn-warning
      background-color #fdb643
    &.btn-info
      background-color #5bc0de
    &.btn-success
      background-color $green
    &.btn-comment
      background-color #fee9c6
    &.btn-para
      background-color #cdecf5
  .trash
    .btn-block
      text-align center
      padding-left 15px
      padding-right 15px
      span
        position relative
        top 0
        left 0

.btn-send-notifications
  display block
  text-transform none
  border none

.btn-send-notifications-sent
  display block
  color #fff
  text-transform none
  background-color $green
  border none
  cursor default

.delegated-item
  position relative
  display block
  margin 0 0 10px
  > span
    display block
    margin-right 16px
  .remove-delegation
    position absolute
    top 0
    right 0

.dropzone
  ul
    min-height 70px
    transition height .3s ease
    margin 0px
    padding 0
  li
    display block
    padding 0px
  .dndDragging
    opacity 0.7
  .dndDraggingSource
    display none
  .dndPlaceholder
    background-color #ddd
    min-height 50px
    transition height .3s ease
    display block
    position relative
    .box
      border-color #d6e9c6
      & > h3
        color #3c763d
        background-color #dff0d8
        background-image linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%)
        border-color #d6e9c6
  .question
    white-space normal
  blockquote
    white-space normal
  .container-element
    margin 10px

.overflow
  overflow hidden

.dropzone
  .panel, .well, .input
    cursor pointer
    position relative
  .title
    margin-bottom 20px
  .input
    padding 15px 0
    .description
      font-size 12px
      font-weight 400
      white-space normal
      padding-top 10px
  &.opp
    .qset
      opacity 1
      &.selected
        outline 10000px solid rgba(255,255,255,.666)
        box-shadow 0 0 0 2px #004d90
        opacity 1 !important
        position relative
        z-index 99

  span.required
    color $red

  // .question
  // 	color #888888
  // 	strong
  // 		color black
  // 		font-weight bold
  // .input
  // 	padding 20px
  // 	margin 5px 0
  // 	border-radius 4px
  // 	border-left 1px solid #dddddd
  // 	label
  // 		font-weight 400
  // 		color #888888
  // 		strong
  // 			color black
  // 			font-weight bold

h4.final
  margin-bottom 10px

.has-error .help-block
  color $red
  margin-top 10px

.bottom
  padding-top 10px
  border-bottom 1px solid #dddddd

.image-radio-button
  display table
  width 134px
  height 134px
  margin 20px auto
  padding 15px
  font-family 'street'
  text-align center
  text-transform uppercase
  border 2px solid $blue
  border-radius 50%
  cursor pointer
  input
    display none
  img
    display inline
    &.active
      display none
  .content
    display table-cell
    width 100%
    height 100%
    text-align center
    vertical-align middle
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
    font-size 15px
  &:hover
    background-color #f6f6f9
  &.active
    color $green
    background-color $blue
    img
      display none
      &.active
        display inline

.steps-table-wrapper
  overflow-x auto

.steps-table
  margin 20px auto !important
  td
    width 130px
    text-align center
    vertical-align top
    &:first-child
      a:before
        display none
  a
    position relative
    display block
    width 130px
    .icon-btn
      display block
      width 80px
      height 80px
      margin 0 auto 10px
      border 2px solid $blue
      border-radius 50%
      .content-container
        display table
        width 100%
        height 100%
        input
          display none
        img
          display inline
          &.active
            display none
        .content
          display table-cell
          width 100%
          height 100%
          text-align center
          vertical-align middle
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
          font-size 15px
    &:before
      content "▸"
      position absolute
      top 21px
      left -7px
      color $blue
      font-family "Georgia", "Apple Symbols", serif
      font-size 36px
      line-height 36px
    &:hover
      text-decoration none
      .icon-btn
        background-color #f6f6f9
    &.active
      .icon-btn
        color $green
        background-color $blue
        img
          display none
          &.active
            display inline

.template-overview
  background #d4d3df !important
  text-align center
  position relative
  h4
    font-family 'street'
    text-transform uppercase
  img
    display block
    margin 0 auto 10px
    max-width 80px

span.rm
  color $blue
  font-weight bold
  cursor pointer
  display inline-block
  width 20px
  text-align center
  height 20px
  background white
  border-radius 100%
  &:hover
    color $red


.steps
  text-align center
  &:last-of-type
    span
      display none
  a
    text-decoration none
    color inherit
  .well, .alert
    position relative
    min-height 150px
    font-size 12px
    border none
    outline none
    background none
    font-weight bold
    span
      position absolute
      right -24px
      top calc(50% - 7px)
    &.current
      background #d9edf7 !important
      border-color #bce8f1 !important
    &:hover
      opacity 1
      background #fcf8e3
      cursor pointer
    img
      width 25%
      height auto
      display block
      margin 0 auto 10px

.popover
  width 276px
  padding 20px
  font-size 13px
  border-radius 0
  border-color #e6e6e6
  .success &
    background-color #e9f4e9
  .info &
    background-color #e5f1f8
  .warning &
    background-color #fff8ec
  .danger &
    background-color #f7e8e8

.popover.top > .arrow
  border-top-color #e6e6e6
  &:after
    .success &
      border-top-color #e9f4e9
    .info &
      border-top-color #e5f1f8
    .warning &
      border-top-color #fff8ec
    .danger &
      border-top-color #f7e8e8

.popover.right > .arrow
  border-right-color #e6e6e6
  &:after
    .success &
      border-right-color #e9f4e9
    .info &
      border-right-color #e5f1f8
    .warning &
      border-right-color #fff8ec
    .danger &
      border-right-color #f7e8e8

.popover.bottom > .arrow
  border-bottom-color #e6e6e6
  &:after
    .success &
      border-bottom-color #e9f4e9
    .info &
      border-bottom-color #e5f1f8
    .warning &
      border-bottom-color #fff8ec
    .danger &
      border-bottom-color #f7e8e8

.popover.left > .arrow
  border-left-color #e6e6e6
  &:after
    .success &
      border-left-color #e9f4e9
    .info &
      border-left-color #e5f1f8
    .warning &
      border-left-color #fff8ec
    .danger &
      border-left-color #f7e8e8

.popover-title
  margin 0 0 10px
  padding 0 0 10px
  font-family 'Open Sans'
  font-weight bold
  text-transform none
  background-color transparent
  border-radius 0
  .success &
    border-bottom-color $green
  .info &
    border-bottom-color $blue
  .warning &
    border-bottom-color #fdb643
  .danger &
    border-bottom-color $red

.popover-content
  padding 0

table
  .nest-table.pros
    display table
    width 100%
    margin 10px 0 0
    padding 10px
    border-bottom none
    .seventy
      width 70px
    .onefourty
      width 140px
    .nest-thead, .nest-tbody
      display table
      width 100%
      .nest-tr
        display table-row
        .nest-th, .nest-td
          display table-cell
          padding 10px
          border-bottom 1px solid #f6f6f9
    span
      margin-right 10px


.products .well
  border 1px dashed black

.box.editor
  position fixed
  bottom 0
  user-select none
  right 0
  width 30%
  z-index 99
  height 100%
  background #f2f2f2
  box-shadow 0 0 10px rgba(0,0,0,.175)
  border-left 2px solid #dfdfdf
  padding 50px 0 25px 25px
  transform translateX(100%)
  transition transform .3s ease
  &.shown
    transform translateX(0)
  .contain
    position relative
    height calc(100% - 50px)
    overflow-y auto
    padding-right 25px
  .container
    position relative
  .panel
    background none
    label
      display block
    .optin
      margin-bottom 10px
    .input
      margin-bottom 20px
      &:last-of-type
        margin-bottom 0
  #edit-close
    position absolute
    right 25px
    z-index 99
    top 20px
    font-size 18px
    cursor pointer
    color #999999
    &:hover
      color black
  .head
    margin-bottom 15px

.pan-tool
  tr.ng-table-filters
    display block
    th
      display block

.add-more
  position absolute
  top -4px
  right -30px
.toq
  display inline-block
  position relative

ul.temp-sel
  padding 0 20px
  li
    padding 10px 50px
    cursor move
    .btn-round-icon
      position absolute
      top 7px
      &.pull-left
        left 7px
      &.pull-right
        right 7px

h4.op-sect
  span
    border-bottom 2px solid $blue

td.rowhead
  font-size 12px
  font-weight bold

.toolbox
  div[ng-table-pagination="params"]
    display none
  .ng-table-header
    font-size 12px
    font-weight 400
    font-style italic
  ul
    list-style none
    padding-left 0px
    cursor move
  .dndDragging
    opacity 0.5
  .dndDraggingSource
    opacity 1.0
.trashcan
  position absolute
  bottom 25px
  right 25px
  left 25px
  ul
    list-style none
    padding-left 0px
  button
    width 100%
    color #fff
    background-color #c1272d
    border-color #c1272d
    transition all .3s ease
    &:hover
      background-color #c1272d
      border-color #c1272d
  .dndDragover
    button
      background-color $red
      border-color $red
  .dndPlaceholder
    display none

.white
  background white

.navbar-default
  position relative
  z-index 33

@media all and (max-width: 992px)
  .willis-sidebar
    display none


.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

#spin
  position fixed
  top 0
  left 0
  background white
  right 0
  bottom 0
  z-index 2
#spin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
